@import "~scss/variables";

.sw-first-run-wizard-paypal-credentials {
    .sw-first-run-wizard-paypal-credentials__headerText {
        font-weight: bold;
        color: $color-darkgray-200;
        margin-bottom: 22px;
    }

    .sw-first-run-wizard-paypal-credentials__collapse-header {
        display: grid;
        grid-template-columns: 1fr auto;
        cursor: pointer;
        color: #607182;
        border-bottom: 1px solid $color-steam-cloud;
        margin-bottom: 22px;

        .sw-first-run-wizard-paypal-credentials__collapse-button {
            margin-right: 25px;
        }

        .sw-first-run-wizard-paypal-credentials__collapse-header-title {
            font-size: $font-size-default;
            font-weight: normal;
            margin: 0 25px 0;
        }
    }

    .sw-first-run-wizard-paypal-credentials__button-container {
        display: flex;
        align-items: center;
        margin-bottom: 22px;

        .sw-first-run-wizard-paypal-credentials__indicator {
            display: inline;
            margin-left: 25px;

            .sw-first-run-wizard-paypal-credentials__icon-successful {
                color: $color-emerald-500;
                margin-top: -5px;
            }

            .sw-first-run-wizard-paypal-credentials__text-indicator {
                margin-left: 8px;
            }
        }
    }
}
