{% block sw_first_run_wizard_paypal_credentials %}
    <div class="sw-first-run-wizard-paypal-credentials">
        <sw-loader v-if="isLoading"></sw-loader>

        <p class="sw-first-run-wizard-paypal-credentials__headerText">
            {{ $tc('swag-paypal-frw-credentials.textIntroPayPal') }}
        </p>

        <sw-switch-field :label="$tc('swag-paypal-frw-credentials.labelSandbox')"
                         v-model="config['SwagPayPal.settings.sandbox']">
        </sw-switch-field>

        <div class="sw-first-run-wizard-paypal-credentials__button-container">
            <a class="sw-button sw-button--primary swag-paypal-frw__signup-button"
               target="_blank"
               data-paypal-onboard-complete="onboardedCallback"
               :href="`${onBoardingUrl}`"
               data-paypal-button="true">
                {{ $tc('swag-paypal-frw-credentials.buttonGetCredentials') }}
            </a>

            <div class="sw-first-run-wizard-paypal-credentials__indicator">
                <template v-if="fetchedSuccessful">
                    <sw-icon name="small-default-checkmark-line-medium"
                             class="sw-first-run-wizard-paypal-credentials__icon-successful">
                    </sw-icon>

                    <span class="sw-first-run-wizard-paypal-credentials__text-indicator">
                            {{ $tc('swag-paypal-frw-credentials.textFetchedSuccessful') }}
                        </span>
                </template>
            </div>
        </div>

        <sw-collapse>
            <template #header="{ expanded }">
                <div class="sw-first-run-wizard-paypal-credentials__collapse-header">
                        <span class="sw-first-run-wizard-paypal-credentials__collapse-header-title">
                            {{ $tc('swag-paypal-frw-credentials.textSettingsHeader') }}
                        </span>

                    <sw-icon v-if="expanded"
                             key="filter-collapse-expanded-indicator"
                             class="sw-first-run-wizard-paypal-credentials__collapse-button"
                             name="small-arrow-small-down">
                    </sw-icon>
                    <sw-icon v-else
                             key="filter-collapse-expanded-indicator"
                             class="sw-first-run-wizard-paypal-credentials__collapse-button"
                             name="small-arrow-small-right">
                    </sw-icon>
                </div>
            </template>
            <template #content>
                <sw-text-field :label="$tc('swag-paypal-frw-credentials.labelClientId')"
                               @input="onCredentialsChanged"
                               v-model="config['SwagPayPal.settings.clientId']">
                </sw-text-field>

                <sw-text-field :label="$tc('swag-paypal-frw-credentials.labelClientSecret')"
                               @input="onCredentialsChanged"
                               v-model="config['SwagPayPal.settings.clientSecret']">
                </sw-text-field>
            </template>
        </sw-collapse>
    </div>
{% endblock %}
