@import "~scss/variables";

.sw-first-run-wizard-paypal-credentials {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    &__headerText {
        font-weight: bold;
        color: $color-darkgray-200;
    }

    &__as_default {
        margin: 0;
    }

    .sw-field.sw-block-field, .sw-field--switch {
        margin: 0;
    }

    .sw-field--switch .sw-field__label label {
        padding-top: 0;
        padding-bottom: 0;
    }

    .swag-paypal-onboarding-button {
        align-self: start;
    }
}
