@import "~scss/variables";

.swag-paypal-merchant-information {
    background-color: var(--color-background-secondary-default);
    border: 1px solid var(--color-border-primary-default);
    border-radius: $border-radius-default;
    padding: 32px;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-row-gap: 18px;

    &__email {
        line-height: 24px;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-xs;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
    }

    &__buttons {
        grid-column: span 2;

        display: flex;
        gap: 12px;
        align-items: center;
    }
}
