{% block sw_order_detail_base %}
    <div>
        <div v-if="currentOrder.paymentMethod.technicalName === 'SwagPayPal'">
            {% block swag_paypal_order_extension_tabs %}
                <sw-tabs>
                    <sw-tabs-item :route="{ name: 'sw.order.detail', params: { id: $route.params.id } }"
                                  :title="$tc('swag-paypal.tabs.overview')">
                        {{ $tc('swag-paypal.tabs.overview') }}
                    </sw-tabs-item>

                    <sw-tabs-item :route="{ name: 'swag.paypal.order.detail', params: { id: $route.params.id } }"
                                  :title="$tc('swag-paypal.header')">
                        {{ $tc('swag-paypal.header') }}
                    </sw-tabs-item>
                </sw-tabs>
            {% endblock %}
        </div>
        {% parent %}
    </div>
{% endblock %}