{% block swag_paypal %}
    <sw-page class="swag-paypal">

        {% block swag_paypal_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('swag-paypal.header') }}
                </h2>
            </template>
        {% endblock %}

        {% block swag_paypal_actions %}
            <template slot="smart-bar-actions">
                {% block swag_paypal_actions_test %}
                    <sw-button @click="onTest" :disabled="clientCredentialsFilled || isLoading">
                        {{ $tc('swag-paypal.settingForm.test') }}
                    </sw-button>
                {% endblock %}

                {% block swag_paypal_actions_save %}
                    <sw-button variant="primary" @click="onSave" :disabled="clientCredentialsFilled || isLoading">
                        {{ $tc('swag-paypal.settingForm.save') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block swag_paypal_content %}
            <sw-card-view slot="content">
                {% block swag_paypal_content_credentials %}
                    <sw-card :title="$tc('swag-paypal.settingForm.cardTitle')" :isLoading="isLoading">
                        {% block swag_paypal_content_credentials_form %}
                            <div class="swag-paypal-form">
                                <sw-container grid="100%">
                                    {% block swag_paypal_content_credentials_form_client %}
                                        <sw-field type="text"
                                                  :label="$tc('swag-paypal.settingForm.clientId.label')"
                                                  v-model="setting.clientId">
                                        </sw-field>
                                    {% endblock %}

                                    {% block swag_paypal_content_credentials_form_secret %}
                                        <sw-field type="text"
                                                  :label="$tc('swag-paypal.settingForm.clientSecret.label')"
                                                  v-model="setting.clientSecret">
                                        </sw-field>
                                    {% endblock %}

                                    {% block swag_paypal_content_credentials_form_sandbox %}
                                        <sw-field type="boolean"
                                                  :label="$tc('swag-paypal.settingForm.sandbox.label')"
                                                  v-model="setting.sandbox"
                                                  :helpText="$tc('swag-paypal.settingForm.sandbox.helpText')">
                                        </sw-field>
                                    {% endblock %}
                                </sw-container>
                            </div>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
