{% block swag_paypal %}
    <sw-page class="swag-paypal">

        {% block swag_paypal_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('swag-paypal.header') }}
                </h2>
            </template>
        {% endblock %}

        {% block swag_paypal_actions %}
            <template slot="smart-bar-actions">
                {% block swag_paypal_actions_test %}
                    <sw-button @click="onTest" :disabled="clientCredentialsFilled || isLoading">
                        {{ $tc('swag-paypal.settingForm.test') }}
                    </sw-button>
                {% endblock %}

                {% block swag_paypal_actions_save %}
                    <sw-button variant="primary" @click="onSave" :disabled="clientCredentialsFilled || isLoading">
                        {{ $tc('swag-paypal.settingForm.save') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block swag_paypal_content %}
            <sw-card-view slot="content">
                {% block swag_paypal_content_credentials %}
                    <sw-card :title="$tc('swag-paypal.settingForm.credentials.cardTitle')" :isLoading="isLoading">
                        {% block swag_paypal_content_credentials_form %}
                            <div class="swag-paypal-form">
                                <sw-container grid="100%">
                                    {% block swag_paypal_content_credentials_form_clientId %}
                                        <sw-field type="text"
                                                  :label="$tc('swag-paypal.settingForm.credentials.clientId.label')"
                                                  v-model="setting.clientId"
                                                  :helpText="$tc('swag-paypal.settingForm.credentials.clientId.helpText')"
                                                  validation="required">
                                        </sw-field>
                                    {% endblock %}

                                    {% block swag_paypal_content_credentials_form_clientSecret %}
                                        <sw-field type="text"
                                                  :label="$tc('swag-paypal.settingForm.credentials.clientSecret.label')"
                                                  v-model="setting.clientSecret"
                                                  :helpText="$tc('swag-paypal.settingForm.credentials.clientSecret.helpText')"
                                                  validation="required">
                                        </sw-field>
                                    {% endblock %}

                                    {% block swag_paypal_content_credentials_form_sandbox %}
                                        <sw-field type="boolean"
                                                  :label="$tc('swag-paypal.settingForm.credentials.sandbox.label')"
                                                  v-model="setting.sandbox"
                                                  :helpText="$tc('swag-paypal.settingForm.credentials.sandbox.helpText')">
                                        </sw-field>
                                    {% endblock %}
                                </sw-container>
                            </div>
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                {% block swag_paypal_content_behaviour %}
                    <sw-card :title="$tc('swag-paypal.settingForm.behaviour.cardTitle')" :isLoading="isLoading">
                        {% block swag_paypal_content_behaviour_form %}
                            <div class="swag-paypal-form">
                                <sw-container grid="100%">
                                    {% block swag_paypal_content_behaviour_form_intent %}
                                        <sw-field type="select"
                                                  :label="$tc('swag-paypal.settingForm.behaviour.intent.label')"
                                                  validation="required"
                                                  v-model="setting.intent">
                                            {% block swag_paypal_content_behaviour_form_intent_options %}
                                                <option slot="options" v-for="intent in intents" :value="intent">
                                                    {{ $tc('swag-paypal.settingForm.behaviour.intent.' + intent) }}
                                                </option>
                                            {% endblock %}
                                        </sw-field>
                                    {% endblock %}

                                    {% block swag_paypal_content_behaviour_form_submitCart %}
                                        <sw-field type="boolean"
                                                  :label="$tc('swag-paypal.settingForm.behaviour.submitCart.label')"
                                                  v-model="setting.submitCart"
                                                  :helpText="$tc('swag-paypal.settingForm.behaviour.submitCart.helpText')">
                                        </sw-field>
                                    {% endblock %}

                                    {% block swag_paypal_content_behaviour_form_brandName %}
                                        <sw-field type="text"
                                                  :label="$tc('swag-paypal.settingForm.behaviour.brandName.label')"
                                                  v-model="setting.brandName"
                                                  :helpText="$tc('swag-paypal.settingForm.behaviour.brandName.helpText')"
                                                  maxlength="127">
                                        </sw-field>
                                    {% endblock %}

                                    {% block  swag_paypal_content_behaviour_form_landingPage %}
                                        <sw-field type="select"
                                                  :label="$tc('swag-paypal.settingForm.behaviour.landingPage.label')"
                                                  v-model="setting.landingPage"
                                                  validation="required"
                                                  :helpText="$tc('swag-paypal.settingForm.behaviour.landingPage.helpText.' + setting.landingPage)">
                                            {% block swag_paypal_content_behaviour_form_landingPage_options %}
                                                <option slot="options" v-for="landingPageType in landingPageTypes" :value="landingPageType">
                                                    {{ $tc('swag-paypal.settingForm.behaviour.landingPage.options.' + landingPageType) }}
                                                </option>
                                            {% endblock %}
                                        </sw-field>
                                    {% endblock %}
                                </sw-container>
                            </div>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
