{% block sw_sales_channel_grid_columns_icon %}
    <sw-grid-column
            v-if="isPayPalPosSalesChannel(item.id)"
            class="sw-sales-channel-modal-grid__icon-column"
            flex="85px"
            dataIndex="icon">
        <span class="sw-sales-channel-modal-grid__icon" @click="onOpenDetail(item.id)">
             <img class="swag-paypal-pos-modal-grid__icon"
                  :src="'swagpaypal/static/img/paypal-pos-logo.svg' | asset">
        </span>
    </sw-grid-column>

    <template v-else>
        {% parent %}
    </template>
{% endblock %}
