@import "~scss/variables";

.swag-paypal-izettle-wizard-sync {
    .subtitle {
        margin-top: 0 !important;
    }

    .sw-field--switch {
        margin-top: -5px;
        margin-bottom: 5px;
    }
}
