{% block swag_paypal_izettle_detail_overview %}
    <div class="sw-sales-channel-detail-overview">

        {% block swag_paypal_izettle_detail_overview_account %}
            <swag-paypal-izettle-account :salesChannel="salesChannel"></swag-paypal-izettle-account>
        {% endblock %}

        {% block swag_paypal_izettle_detail_overview_status %}
            <swag-paypal-izettle-status-view v-if="!isNewEntity"
                                             :isLoading="isLoading"
                                             :isSyncing="isSyncing"
                                             :lastCompleteRun="lastCompleteRun"
                                             :lastFinishedRun="lastFinishedRun"
                                             :salesChannel="salesChannel"
                                             :syncErrors="syncErrors">

                {% block swag_paypal_izettle_detail_overview_status_actions %}
                    <template #actions>

                        {% block swag_paypal_izettle_detail_overview_status_actions_sync_button %}
                            <sw-button v-if="salesChannel && salesChannel.active && !isSyncing"
                                       variant="primary"
                                       @click="onStartSync">
                                {{ $tc('swag-paypal-izettle.detail.overview.buttonSync') }}
                            </sw-button>
                        {% endblock %}

                        {% block swag_paypal_izettle_detail_overview_status_actions_sync_context_menu %}
                            <sw-context-button v-if="salesChannel && salesChannel.active && !isSyncing">

                                {% block swag_paypal_izettle_detail_overview_status_actions_sync_context_menu_button %}
                                    <template #button>
                                        <sw-button square
                                                   variant="primary"
                                                   :disabled="isSyncing">
                                            <sw-icon name="small-arrow-medium-down" size="16"></sw-icon>
                                        </sw-button>
                                    </template>
                                {% endblock %}

                                {% block swag_paypal_izettle_detail_overview_status_actions_sync_context_menu_item_products %}
                                    <sw-context-menu-item @click="onStartProductSync">
                                        {{ $tc('swag-paypal-izettle.detail.overview.buttonSyncProducts') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block swag_paypal_izettle_detail_overview_status_actions_sync_context_menu_item_image %}
                                    <sw-context-menu-item @click="onStartImageSync">
                                        {{ $tc('swag-paypal-izettle.detail.overview.buttonSyncImages') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block swag_paypal_izettle_detail_overview_status_actions_sync_context_menu_item_inventory %}
                                    <sw-context-menu-item @click="onStartInventorySync">
                                        {{ $tc('swag-paypal-izettle.detail.overview.buttonSyncInventory') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </sw-context-button>
                        {% endblock %}

                        {% block swag_paypal_izettle_detail_overview_status_actions_sync_abort_button %}
                            <sw-button v-if="isSyncing"
                                       @click="onSyncAbort">
                                {{ $tc('swag-paypal-izettle.detail.overview.buttonSyncAbort') }}
                            </sw-button>
                        {% endblock %}
                    </template>
                {% endblock %}
            </swag-paypal-izettle-status-view>
        {% endblock %}
    </div>
{% endblock %}
