{% block swag_paypal_izettle_wizard_product_selection %}
    <div class="swag-paypal-izettle-wizard-saleschannel">
        <h3>{{ $tc('swag-paypal-izettle.wizard.product-selection.header') }}</h3>

        {% block swag_paypal_izettle_wizard_product_selection_sales_channel_toggle %}
            <sw-switch-field v-model="hasClone"
                             bordered
                             :label="$tc('swag-paypal-izettle.wizard.product-selection.labelToggle')"
                             @change="updateClone">
            </sw-switch-field>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_product_selection_sales_channel_select %}
            <sw-entity-single-select v-model="localCloneSalesChannelId"
                                     entity="sales_channel"
                                     :disabled="!hasClone"
                                     :label="$tc('swag-paypal-izettle.wizard.product-selection.labelSelect')"
                                     @input="forceUpdate">
            </sw-entity-single-select>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_product_selection_disclaimer %}
            <div v-html="$tc('swag-paypal-izettle.wizard.product-selection.subtitle')" class="subtitle"></div>
        {% endblock %}
    </div>
{% endblock %}
