@import "~scss/variables";

.swag-paypal-method-card {
    &__title {
        display: flex;
        gap: 16px;
        align-items: center;
        height: 100%;

        p {
            font-weight: var(--font-weight-semibold);
            font-size: var(--font-size-m);
        }
    }

    &__header-right {
        display: flex;
        align-items: center;
        height: 100%;
    }

    & &__status {
        margin: 0;
        border: 0;

        .sw-color-badge {
            margin: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__header {
        font-weight: $font-weight-bold;
        font-size: $font-size-m;
        line-height: 42px;
    }

    &__description {
        line-height: 25px;
    }

    &__onboarding_buttons {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &__payment-method-headline {
        font-size: $font-size-m;
        margin: 16px 0 8px;
    }

    &__listing {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    & .sw-skeleton-bar {
        height: 24px;
        margin: 0;

        &:not(:last-child) {
        	margin: 0;
        }
    }
}
