@import "~scss/variables";

.swag-paypal-checkout {
    padding: 30px;

    &__banner {
        margin-top: 24px;
    }

    &__header {
        font-weight: $font-weight-bold;
        font-size: $font-size-m;
        line-height: 42px;
    }

    &__description {
        line-height: 25px;
    }

    &__button-onboarding-sandbox {
        margin-left: 12px;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-xs;
    }

    &__sandbox-toggle {
        float: right;
        margin-top: -15px;
    }

    &__box {
        background-color: $color-gray-50;
        border: 1px solid $color-gray-300;
        border-radius: $border-radius-default;
        column-gap: 16px;
        padding: 32px;
    }

    &__merchant-information {
        line-height: 24px;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-xs;
        margin-bottom: 8px;
    }

    &__payment-method-headline {
        font-size: $font-size-m;
        margin: 32px 0 8px;
    }

    .sw-field--switch {
        margin: 0;
    }
}

.swag-paypal-checkout-modal__text {
    margin-bottom: 16px;
}
