{% block swag_paypal_izettle_wizard_connection %}
    <div class="swag-paypal-izettle-wizard-connection">
        <h3>{{ $tc('swag-paypal-izettle.wizard.connection.header') }}</h3>

        {% block swag_paypal_izettle_wizard_connection_apikey %}
            <sw-text-field v-model="salesChannel.extensions.paypalIZettleSalesChannel.apiKey"
                           required
                           :label="$tc('swag-paypal-izettle.authentification.apiKey')"
                           @input="forceUpdate">
            </sw-text-field>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_connection_button_generate_key %}
            <sw-button-group>

                {% block swag_paypal_izettle_wizard_connection_button_generate_key %}
                    <sw-button :link="apiKeyUrl">
                        {{ $tc('swag-paypal-izettle.authentification.buttonGenerateKey') }}
                    </sw-button>
                {% endblock %}

                {% block swag_paypal_izettle_wizard_connection_button_test %}
                    <sw-button-process v-model="isTestCredentialsSuccessful"
                                       :disabled="!(this.salesChannel.extensions.paypalIZettleSalesChannel.apiKey)"
                                       :isLoading="isTestingCredentials"
                                       @click="onTestCredentials">
                        {{ $tc('swag-paypal-izettle.authentification.buttonTest') }}
                    </sw-button-process>
                {% endblock %}
            </sw-button-group>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_connection_apikey_description %}
            <div class="subtitle" v-html="$tc('swag-paypal-izettle.authentification.apiKeyDescription')"></div>
        {% endblock %}
    </div>
{% endblock %}
