.swag-paypal-izettle-wizard-connection {
    &-headline {
        margin: 24px 0 18px 0;
        font-weight: bold;

        &:first-child {
            margin-top: 0;
        }
    }

    &-input-suffix {
        margin-bottom: 2px;
    }

    &-apikey {
        &-field {
            margin-bottom: 8px;
        }

        &-description {
            & > div {
                display: inline;
                margin-top: 8px;
                color: #94A6B8;
                font-size: 14px;
            }

            &-link-icon {
                margin: 2px;
            }
        }
    }

    &-izettle {
        &-link {
            display: flex;
            justify-content: space-around;
        }

        &-logo {
            object-fit: contain;
            text-align: left;
        }
    }
}