parameters:
	ignoreErrors:
		-
			message: "#^Provide more specific return type \"Swag\\\\PayPal\\\\Checkout\\\\Card\\\\Exception\\\\CardValidationFailedException\" over abstract one$#"
			count: 1
			path: src/Checkout/Card/Exception/CardValidationFailedException.php

		-
			message: "#^Call to deprecated method get\\(\\) of class Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Entity:\ntag:v6.7.0 - reason:exception\\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#"
			count: 1
			path: src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php

		-
			message: "#^Mixed variable in a `\\$session\\-\\>getFlashBag\\(\\)\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: src/Checkout/Payment/Method/PUIHandler.php

		-
			message: "#^Usage of ALTER TABLE \\.\\. AFTER is disallowed in migrations to avoid implicit temporary table usage\\.$#"
			count: 1
			path: src/Migration/Migration1706111604AddCustomerIdToVault.php

		-
			message: "#^Provide more specific return type \"Swag\\\\PayPal\\\\OrdersApi\\\\Builder\\\\Exception\\\\OrderBuildException\" over abstract one$#"
			count: 1
			path: src/OrdersApi/Builder/Exception/OrderBuildException.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 5
			path: src/Pos/Api/Common/PosStruct.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/CloneVisibilityHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ImageSyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/InventorySyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ProductCleanupSyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ProductSingleSyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ProductVariantSyncHandler.php

		-
			message: "#^Provide more specific return type \"Symfony\\\\Component\\\\HttpFoundation\\\\JsonResponse\" over abstract one$#"
			count: 5
			path: src/Pos/PosSyncController.php

		-
			message: "#^Array method calls \\[\\$this, \"method\"\\] are not allowed\\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#"
			count: 2
			path: src/Pos/Sync/Context/InventoryContextFactory.php

		-
			message: "#^Array method calls \\[\\$this, \"method\"\\] are not allowed\\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#"
			count: 1
			path: src/Pos/Sync/Product/DeletedUpdater.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 7
			path: src/RestApi/PayPalApiStruct.php

		-
			message: "#^Provide more specific return type \"Shopware\\\\Core\\\\System\\\\SalesChannel\\\\NoContentResponse\" over abstract one$#"
			count: 3
			path: src/Storefront/Controller/PayPalController.php

		-
			message: "#^Mixed variable in a `\\$checkoutMethod\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 2
			path: src/Storefront/Data/CheckoutDataSubscriber.php

		-
			message: "#^Mixed variable in a `\\$criteria\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRouteTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Payment\\\\ScheduledTask\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Checkout\\\\PUI\\\\SalesChannel\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Checkout/PUI/Service/PUIInstructionsFetchServiceTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Payment\\\\ScheduledTask\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Installment\\\\Banner\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Installment/Banner/Service/BannerDataServiceTest.php

		-
			message: "#^Mixed variable in a `\\$struct\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: "#^Mixed variable in a `\\$struct\\?\\-\\>getExperienceContext\\(\\)\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: "#^Provide more specific return type \"GuzzleHttp\\\\Psr7\\\\Response\" over abstract one$#"
			count: 1
			path: tests/Pos/Mock/Client/GuzzleClientMock.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 1
			path: tests/Pos/Mock/MessageBusMock.php

		-
			message: "#^Parameter \\#1 \\$entity of method Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection\\<Shopware\\\\Core\\\\Content\\\\Product\\\\ProductEntity\\>\\:\\:add\\(\\) expects Shopware\\\\Core\\\\Content\\\\Product\\\\ProductEntity, Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Entity given\\.$#"
			count: 2
			path: tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php

		-
			message: "#^Return type \\(Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Search\\\\EntitySearchResult\\<Shopware\\\\Core\\\\Content\\\\Product\\\\SalesChannel\\\\SalesChannelProductCollection\\>\\) of method Swag\\\\PayPal\\\\Test\\\\Pos\\\\Mock\\\\Repositories\\\\SalesChannelProductRepoMock\\:\\:search\\(\\) should be compatible with return type \\(Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Search\\\\EntitySearchResult\\<Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection\\>\\) of method Shopware\\\\Core\\\\System\\\\SalesChannel\\\\Entity\\\\SalesChannelRepository\\<Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection\\>\\:\\:search\\(\\)$#"
			count: 1
			path: tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/Pos/Run/PosSyncControllerTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Pos/Webhook/InventoryChangedTest.php

		-
			message: "#^Mixed variable in a `\\$entry\\['request'\\]\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php

		-
			message: "#^Mixed variable in a `\\$entry\\['request'\\]\\-\\>getBody\\(\\)\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php

		-
			message: "#^Multiple class/interface/trait is not allowed in single file$#"
			count: 1
			path: tests/RestApi/PayPalApiCollectionTest.php

		-
			message: "#^Array method calls \\[\\$this, \"method\"\\] are not allowed\\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#"
			count: 1
			path: tests/RestApi/PayPalApiStructStructureTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/RestApi/PayPalApiStructStructureTest.php

		-
			message: "#^Class like namespace \"\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/ShopwarePluginClassTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/Storefront/Controller/ApplePayControllerTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 4
			path: tests/Storefront/Data/CheckoutSubscriberTest.php

		-
			message: "#^Class like namespace \"Shopware\\\\Core\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/TestBootstrapper.php

		-
			message: "#^Provide more specific return type \"Shopware\\\\Core\\\\Kernel\" over abstract one$#"
			count: 1
			path: tests/TestBootstrapper.php

		-
			message: "#^Provide more specific return type \"Shopware\\\\Core\\\\TestBootstrapper\" over abstract one$#"
			count: 11
			path: tests/TestBootstrapper.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Util\\\\Lifecycle\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Util/Availability/AvailabilityServiceTest.php
