parameters:
	ignoreErrors:
		-
			message: "#^Provide more specific return type \"Swag\\\\PayPal\\\\Checkout\\\\Card\\\\Exception\\\\CardValidationFailedException\" over abstract one$#"
			count: 1
			path: src/Checkout/Card/Exception/CardValidationFailedException.php

		-
			message: "#^Call to deprecated method get\\(\\) of class Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Entity:\ntag:v6.7.0 - reason:exception\\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#"
			count: 1
			path: src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php

		-
			message: "#^Mixed variable in a `\\$session\\-\\>getFlashBag\\(\\)\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: src/Checkout/Payment/Method/PUIHandler.php

		-
			message: "#^Usage of ALTER TABLE \\.\\. AFTER is disallowed in migrations to avoid implicit temporary table usage\\.$#"
			count: 1
			path: src/Migration/Migration1706111604AddCustomerIdToVault.php

		-
			message: "#^Provide more specific return type \"Swag\\\\PayPal\\\\OrdersApi\\\\Builder\\\\Exception\\\\OrderBuildException\" over abstract one$#"
			count: 1
			path: src/OrdersApi/Builder/Exception/OrderBuildException.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 5
			path: src/Pos/Api/Common/PosStruct.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/CloneVisibilityHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ImageSyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/InventorySyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ProductCleanupSyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ProductSingleSyncHandler.php

		-
			message: "#^Change \"sync\\(\\)\" method visibility to \"protected\" to respect parent method visibility\\.$#"
			count: 1
			path: src/Pos/MessageQueue/Handler/Sync/ProductVariantSyncHandler.php

		-
			message: "#^Provide more specific return type \"Symfony\\\\Component\\\\HttpFoundation\\\\JsonResponse\" over abstract one$#"
			count: 5
			path: src/Pos/PosSyncController.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Pos\\\\Sync\\\\Context\\\\InventoryContext has an uninitialized property \\$salesChannel\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Pos/Sync/Context/InventoryContext.php

		-
			message: "#^Array method calls \\[\\$this, \"method\"\\] are not allowed\\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#"
			count: 2
			path: src/Pos/Sync/Context/InventoryContextFactory.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Pos\\\\Sync\\\\Inventory\\\\Calculator\\\\LocalWebhookCalculator has an uninitialized property \\$fixedUpdates\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Pos/Sync/Inventory/Calculator/LocalWebhookCalculator.php

		-
			message: "#^Array method calls \\[\\$this, \"method\"\\] are not allowed\\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#"
			count: 1
			path: src/Pos/Sync/Product/DeletedUpdater.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Pos\\\\Sync\\\\Product\\\\Util\\\\ProductGrouping has an uninitialized property \\$product\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Pos/Sync/Product/Util/ProductGrouping.php

		-
			message: "#^Access to an uninitialized property Swag\\\\PayPal\\\\Pos\\\\Webhook\\\\WebhookRegistry\\:\\:\\$registeredWebhooks\\.$#"
			count: 2
			path: src/Pos/Webhook/WebhookRegistry.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Reporting\\\\DataAbstractionLayer\\\\TransactionReport\\\\TransactionReportEntity has an uninitialized property \\$currencyIso\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Reporting/DataAbstractionLayer/TransactionReport/TransactionReportEntity.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Reporting\\\\DataAbstractionLayer\\\\TransactionReport\\\\TransactionReportEntity has an uninitialized property \\$orderTransactionId\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Reporting/DataAbstractionLayer/TransactionReport/TransactionReportEntity.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Reporting\\\\DataAbstractionLayer\\\\TransactionReport\\\\TransactionReportEntity has an uninitialized property \\$orderTransactionVersionId\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Reporting/DataAbstractionLayer/TransactionReport/TransactionReportEntity.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Reporting\\\\DataAbstractionLayer\\\\TransactionReport\\\\TransactionReportEntity has an uninitialized property \\$totalPrice\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Reporting/DataAbstractionLayer/TransactionReport/TransactionReportEntity.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 7
			path: src/RestApi/PayPalApiStruct.php

		-
			message: "#^Provide more specific return type \"Shopware\\\\Core\\\\System\\\\SalesChannel\\\\NoContentResponse\" over abstract one$#"
			count: 3
			path: src/Storefront/Controller/PayPalController.php

		-
			message: "#^Mixed variable in a `\\$checkoutMethod\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 2
			path: src/Storefront/Data/CheckoutDataSubscriber.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Util\\\\Availability\\\\AvailabilityContext has an uninitialized property \\$billingCountryCode\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Util/Availability/AvailabilityContext.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Util\\\\Availability\\\\AvailabilityContext has an uninitialized property \\$currencyCode\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Util/Availability/AvailabilityContext.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Util\\\\Availability\\\\AvailabilityContext has an uninitialized property \\$hasDigitalProducts\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Util/Availability/AvailabilityContext.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Util\\\\Availability\\\\AvailabilityContext has an uninitialized property \\$salesChannelId\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Util/Availability/AvailabilityContext.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Util\\\\Availability\\\\AvailabilityContext has an uninitialized property \\$subscription\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Util/Availability/AvailabilityContext.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Util\\\\Availability\\\\AvailabilityContext has an uninitialized property \\$totalAmount\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Util/Availability/AvailabilityContext.php

		-
			message: "#^Access to an uninitialized property Swag\\\\PayPal\\\\Webhook\\\\WebhookRegistry\\:\\:\\$registeredWebhooks\\.$#"
			count: 2
			path: src/Webhook/WebhookRegistry.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Card\\\\AbstractCardValidatorTestCase has an uninitialized property \\$systemConfigService\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Checkout/Card/AbstractCardValidatorTestCase.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Card\\\\AbstractCardValidatorTestCase has an uninitialized property \\$validator\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Checkout/Card/AbstractCardValidatorTestCase.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Method\\\\AbstractTestSyncAPMHandler has an uninitialized property \\$clientFactory\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Checkout/Method/AbstractTestSyncAPMHandler.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Method\\\\PUIHandlerTest has an uninitialized property \\$session\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Checkout/Method/PUIHandlerTest.php

		-
			message: "#^Mixed variable in a `\\$criteria\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRouteTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Payment\\\\ScheduledTask\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Checkout\\\\PUI\\\\SalesChannel\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Checkout/PUI/Service/PUIInstructionsFetchServiceTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Payment\\\\ScheduledTask\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Payment\\\\PayPalPaymentHandlerTest has an uninitialized property \\$clientFactory\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Checkout/Payment/PayPalPaymentHandlerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Checkout\\\\Plus\\\\PlusPaymentFinalizeControllerTest has an uninitialized property \\$orderTransactionStateHandler\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Checkout/Plus/PlusPaymentFinalizeControllerTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Installment\\\\Banner\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Installment/Banner/Service/BannerDataServiceTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Mock\\\\PayPal\\\\Client\\\\GuzzleClientMock has an uninitialized property \\$data\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Mock/PayPal/Client/GuzzleClientMock.php

		-
			message: "#^Mixed variable in a `\\$struct\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: "#^Mixed variable in a `\\$struct\\?\\-\\>getExperienceContext\\(\\)\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct has an uninitialized property \\$bar\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct has an uninitialized property \\$foo\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct has an uninitialized property \\$id\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct has an uninitialized property \\$notExistingClass\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct has an uninitialized property \\$notExistingCollectionClass\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct\\\\Bar has an uninitialized property \\$bar\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct/Bar.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct\\\\Foo has an uninitialized property \\$fooBaz\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct/Foo.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Api\\\\Common\\\\_fixtures\\\\TestStruct\\\\Foo has an uninitialized property \\$fooBoo\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Api/Common/_fixtures/TestStruct/Foo.php

		-
			message: "#^Provide more specific return type \"GuzzleHttp\\\\Psr7\\\\Response\" over abstract one$#"
			count: 1
			path: tests/Pos/Mock/Client/GuzzleClientMock.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 1
			path: tests/Pos/Mock/MessageBusMock.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Mock\\\\ProductContextMock has an uninitialized property \\$status\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Mock/ProductContextMock.php

		-
			message: "#^Parameter \\#1 \\$entity of method Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection\\<Shopware\\\\Core\\\\Content\\\\Product\\\\ProductEntity\\>\\:\\:add\\(\\) expects Shopware\\\\Core\\\\Content\\\\Product\\\\ProductEntity, Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Entity given\\.$#"
			count: 2
			path: tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php

		-
			message: "#^Return type \\(Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Search\\\\EntitySearchResult\\<Shopware\\\\Core\\\\Content\\\\Product\\\\SalesChannel\\\\SalesChannelProductCollection\\>\\) of method Swag\\\\PayPal\\\\Test\\\\Pos\\\\Mock\\\\Repositories\\\\SalesChannelProductRepoMock\\:\\:search\\(\\) should be compatible with return type \\(Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Search\\\\EntitySearchResult\\<Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection\\>\\) of method Shopware\\\\Core\\\\System\\\\SalesChannel\\\\Entity\\\\SalesChannelRepository\\<Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection\\>\\:\\:search\\(\\)$#"
			count: 1
			path: tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/Pos/Run/PosSyncControllerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\\\\SettingsControllerTest has an uninitialized property \\$messageBus\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Util/SettingsControllerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\\\\SettingsControllerTest has an uninitialized property \\$productVisibilityRepository\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Util/SettingsControllerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\\\\SettingsControllerTest has an uninitialized property \\$runRepository\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Util/SettingsControllerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\\\\SettingsControllerTest has an uninitialized property \\$runService\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Util/SettingsControllerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\\\\SettingsControllerTest has an uninitialized property \\$salesChannelProductRepository\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Util/SettingsControllerTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\\\\SettingsControllerTest has an uninitialized property \\$salesChannelRepository\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Pos/Util/SettingsControllerTest.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Pos\\\\Util\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Pos/Webhook/InventoryChangedTest.php

		-
			message: "#^Mixed variable in a `\\$entry\\['request'\\]\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php

		-
			message: "#^Mixed variable in a `\\$entry\\['request'\\]\\-\\>getBody\\(\\)\\-\\>\\.\\.\\.\\(\\)` can skip important errors\\. Make sure the type is known$#"
			count: 1
			path: tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php

		-
			message: "#^Multiple class/interface/trait is not allowed in single file$#"
			count: 1
			path: tests/RestApi/PayPalApiCollectionTest.php

		-
			message: "#^Array method calls \\[\\$this, \"method\"\\] are not allowed\\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#"
			count: 1
			path: tests/RestApi/PayPalApiStructStructureTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/RestApi/PayPalApiStructStructureTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\V1\\\\Resource\\\\WebhookResourceTest has an uninitialized property \\$clientFactory\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/V1/Resource/WebhookResourceTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct has an uninitialized property \\$bar\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct has an uninitialized property \\$foo\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct has an uninitialized property \\$id\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct has an uninitialized property \\$notExistingClass\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct has an uninitialized property \\$notExistingCollectionClass\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct has an uninitialized property \\$scalarArray\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct\\\\Bar has an uninitialized property \\$bar\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct/Bar.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\RestApi\\\\_fixtures\\\\TestStruct\\\\Foo has an uninitialized property \\$fooBaz\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/RestApi/_fixtures/TestStruct/Foo.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Setting\\\\Service\\\\MerchantIntegrationsServiceTest has an uninitialized property \\$clientFactory\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Setting/Service/MerchantIntegrationsServiceTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Setting\\\\Service\\\\MerchantIntegrationsServiceTest has an uninitialized property \\$systemConfigService\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Setting/Service/MerchantIntegrationsServiceTest.php

		-
			message: "#^Class like namespace \"\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/ShopwarePluginClassTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 2
			path: tests/Storefront/Controller/ApplePayControllerTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 4
			path: tests/Storefront/Data/CheckoutSubscriberTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Storefront\\\\Data\\\\FundingSubscriberTest has an uninitialized property \\$session\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Storefront/Data/FundingSubscriberTest.php

		-
			message: "#^Class like namespace \"Shopware\\\\Core\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/TestBootstrapper.php

		-
			message: "#^Provide more specific return type \"Shopware\\\\Core\\\\Kernel\" over abstract one$#"
			count: 1
			path: tests/TestBootstrapper.php

		-
			message: "#^Provide more specific return type \"Shopware\\\\Core\\\\TestBootstrapper\" over abstract one$#"
			count: 11
			path: tests/TestBootstrapper.php

		-
			message: "#^Class like namespace \"Swag\\\\PayPal\\\\Test\\\\Util\\\\Lifecycle\" does not follow PSR\\-4 configuration in composer\\.json$#"
			count: 1
			path: tests/Util/Availability/AvailabilityServiceTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Util\\\\Lifecycle\\\\State\\\\PaymentMethodStateServiceTest has an uninitialized property \\$paymentMethodRepository\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php

		-
			message: "#^Class Swag\\\\PayPal\\\\Test\\\\Webhook\\\\Handler\\\\SaleRefundedTest has an uninitialized property \\$sale\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Webhook/Handler/SaleRefundedTest.php
