parameters:
	ignoreErrors:
		-
			message: '''
				#^Access to constant on deprecated interface Shopware\\Storefront\\Framework\\Cookie\\CookieProviderInterface\:
				tag\:v6\.8\.0 \- Will be removed in 6\.8\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: classConstant.deprecatedInterface
			count: 3
			path: tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php

		-
			message: '''
				#^Call to method __construct\(\) of deprecated class Swag\\PayPal\\Storefront\\Framework\\Cookie\\GooglePayCookieProvider\:
				tag\:v11\.0\.0 \- Will be removed in 11\.0\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: method.deprecatedClass
			count: 3
			path: tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php

		-
			message: '''
				#^Call to method getCookieGroups\(\) of deprecated class Swag\\PayPal\\Storefront\\Framework\\Cookie\\GooglePayCookieProvider\:
				tag\:v11\.0\.0 \- Will be removed in 11\.0\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: method.deprecatedClass
			count: 3
			path: tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php

		-
			message: '''
				#^Instantiation of deprecated class Swag\\PayPal\\Storefront\\Framework\\Cookie\\GooglePayCookieProvider\:
				tag\:v11\.0\.0 \- Will be removed in 11\.0\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: new.deprecatedClass
			count: 3
			path: tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php

		-
			message: '''
				#^Access to constant on deprecated interface Shopware\\Storefront\\Framework\\Cookie\\CookieProviderInterface\:
				tag\:v6\.8\.0 \- Will be removed in 6\.8\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: classConstant.deprecatedInterface
			count: 3
			path: tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php

		-
			message: '''
				#^Call to method __construct\(\) of deprecated class Swag\\PayPal\\Storefront\\Framework\\Cookie\\PayPalCookieProvider\:
				tag\:v11\.0\.0 \- Will be removed in 11\.0\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: method.deprecatedClass
			count: 3
			path: tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php

		-
			message: '''
				#^Call to method getCookieGroups\(\) of deprecated class Swag\\PayPal\\Storefront\\Framework\\Cookie\\PayPalCookieProvider\:
				tag\:v11\.0\.0 \- Will be removed in 11\.0\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: method.deprecatedClass
			count: 3
			path: tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php

		-
			message: '''
				#^Instantiation of deprecated class Swag\\PayPal\\Storefront\\Framework\\Cookie\\PayPalCookieProvider\:
				tag\:v11\.0\.0 \- Will be removed in 11\.0\.0\. Use \{@see CookieGroupCollectEvent\} instead to introduce cookies\.$#
			'''
			identifier: new.deprecatedClass
			count: 3
			path: tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
