parameters:
	ignoreErrors:
		-
			message: '#^Call to internal static method Shopware\\Core\\Framework\\Context\:\:createDefaultContext\(\) from outside its root namespace Shopware\.$#'
			identifier: staticMethod.internal
			count: 1
			path: src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php

		-
			message: '#^Call to method getEntityName\(\) of internal class Shopware\\Core\\Framework\\DataAbstractionLayer\\Write\\Command\\WriteCommand from outside its root namespace Shopware\.$#'
			identifier: method.internalClass
			count: 1
			path: src/Checkout/Order/Shipping/ShippingSubscriber.php

		-
			message: '#^Call to method getPayload\(\) of internal class Shopware\\Core\\Framework\\DataAbstractionLayer\\Write\\Command\\WriteCommand from outside its root namespace Shopware\.$#'
			identifier: method.internalClass
			count: 1
			path: src/Checkout/Order/Shipping/ShippingSubscriber.php

		-
			message: '#^Call to method requestChangeSet\(\) of internal interface Shopware\\Core\\Framework\\DataAbstractionLayer\\Write\\Command\\ChangeSetAware from outside its root namespace Shopware\.$#'
			identifier: method.internalInterface
			count: 1
			path: src/Checkout/Order/Shipping/ShippingSubscriber.php

		-
			message: '#^Instanceof references internal interface Shopware\\Core\\Framework\\DataAbstractionLayer\\Write\\Command\\ChangeSetAware\.$#'
			identifier: instanceof.internalInterface
			count: 1
			path: src/Checkout/Order/Shipping/ShippingSubscriber.php

		-
			message: '#^Call to internal static method Shopware\\Core\\Framework\\Context\:\:createDefaultContext\(\) from outside its root namespace Shopware\.$#'
			identifier: staticMethod.internal
			count: 1
			path: src/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandler.php

		-
			message: '#^Call to internal static method Shopware\\Core\\Framework\\Context\:\:createDefaultContext\(\) from outside its root namespace Shopware\.$#'
			identifier: staticMethod.internal
			count: 1
			path: src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php

		-
			message: '#^Call to internal static method Shopware\\Core\\Framework\\Context\:\:createDefaultContext\(\) from outside its root namespace Shopware\.$#'
			identifier: staticMethod.internal
			count: 1
			path: src/Pos/MessageQueue/Message/AbstractSyncMessage.php

		-
			message: '#^Call to internal static method Shopware\\Core\\Framework\\Context\:\:createDefaultContext\(\) from outside its root namespace Shopware\.$#'
			identifier: staticMethod.internal
			count: 1
			path: src/Pos/MessageQueue/Message/InventoryUpdateMessage.php

		-
			message: '#^Call to internal static method Shopware\\Core\\Framework\\Context\:\:createDefaultContext\(\) from outside its root namespace Shopware\.$#'
			identifier: staticMethod.internal
			count: 1
			path: src/Pos/MessageQueue/MessageHydrator.php

		-
			message: '#^Call to method get\(\) of internal interface Shopware\\Core\\System\\SalesChannel\\Context\\SalesChannelContextServiceInterface from outside its root namespace Shopware\.$#'
			identifier: method.internalInterface
			count: 1
			path: src/Pos/MessageQueue/MessageHydrator.php

		-
			message: '#^Parameter \$salesChannelContextService of method Swag\\PayPal\\Pos\\MessageQueue\\MessageHydrator\:\:__construct\(\) has typehint with internal interface Shopware\\Core\\System\\SalesChannel\\Context\\SalesChannelContextServiceInterface\.$#'
			identifier: parameter.internalInterface
			count: 1
			path: src/Pos/MessageQueue/MessageHydrator.php

		-
			message: '#^Property \$salesChannelContextService references internal interface Shopware\\Core\\System\\SalesChannel\\Context\\SalesChannelContextServiceInterface in its type\.$#'
			identifier: property.internalInterface
			count: 1
			path: src/Pos/MessageQueue/MessageHydrator.php

		-
			message: '#^Call to internal static method Shopware\\Core\\Framework\\Context\:\:createDefaultContext\(\) from outside its root namespace Shopware\.$#'
			identifier: staticMethod.internal
			count: 1
			path: src/Pos/Sync/Context/InventoryContext.php

		-
			message: '#^Array method calls \[\$this, "method"\] are not allowed\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#'
			identifier: symplify.forbiddenArrayMethodCall
			count: 2
			path: src/Pos/Sync/Context/InventoryContextFactory.php

		-
			message: '#^Array method calls \[\$this, "method"\] are not allowed\. Use explicit method instead to help PhpStorm, PHPStan and Rector understand your code$#'
			identifier: symplify.forbiddenArrayMethodCall
			count: 1
			path: src/Pos/Sync/Product/DeletedUpdater.php

		-
			message: '#^Call to method validate\(\) of internal class Shopware\\Core\\System\\SystemConfig\\Validation\\SystemConfigValidator from outside its root namespace Shopware\.$#'
			identifier: method.internalClass
			count: 1
			path: src/Setting/SettingsController.php

		-
			message: '#^Parameter \$systemConfigValidator of method Swag\\PayPal\\Setting\\SettingsController\:\:__construct\(\) has typehint with internal class Shopware\\Core\\System\\SystemConfig\\Validation\\SystemConfigValidator\.$#'
			identifier: parameter.internalClass
			count: 1
			path: src/Setting/SettingsController.php

		-
			message: '#^Property \$systemConfigValidator references internal class Shopware\\Core\\System\\SystemConfig\\Validation\\SystemConfigValidator in its type\.$#'
			identifier: property.internalClass
			count: 1
			path: src/Setting/SettingsController.php

		-
			message: '#^Mixed variable in a `\$checkoutMethod\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
			identifier: typePerfect.noMixedMethodCaller
			count: 2
			path: src/Storefront/Data/CheckoutDataSubscriber.php

		-
			message: '#^Mixed variable in a `\$criteria\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
			identifier: typePerfect.noMixedMethodCaller
			count: 1
			path: tests/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRouteTest.php

		-
			message: '#^Mixed variable in a `\$struct\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
			identifier: typePerfect.noMixedMethodCaller
			count: 1
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: '#^Mixed variable in a `\$struct\?\-\>getExperienceContext\(\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
			identifier: typePerfect.noMixedMethodCaller
			count: 1
			path: tests/OrdersApi/Builder/APMOrderBuilderTest.php

		-
			message: '#^Parameter \#1 \$entity of method Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityCollection\<Shopware\\Core\\Content\\Product\\ProductEntity\>\:\:add\(\) expects Shopware\\Core\\Content\\Product\\ProductEntity, Shopware\\Core\\Framework\\DataAbstractionLayer\\Entity given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php

		-
			message: '#^Return type \(Shopware\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult\<Shopware\\Core\\Content\\Product\\SalesChannel\\SalesChannelProductCollection\>\) of method Swag\\PayPal\\Test\\Pos\\Mock\\Repositories\\SalesChannelProductRepoMock\:\:search\(\) should be compatible with return type \(Shopware\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult\<Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityCollection\>\) of method Shopware\\Core\\System\\SalesChannel\\Entity\\SalesChannelRepository\<Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityCollection\>\:\:search\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php

		-
			message: '#^Mixed variable in a `\$entry\[''request''\]\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
			identifier: typePerfect.noMixedMethodCaller
			count: 1
			path: tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php

		-
			message: '#^Mixed variable in a `\$entry\[''request''\]\-\>getBody\(\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
			identifier: typePerfect.noMixedMethodCaller
			count: 1
			path: tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php

		-
			message: '#^Parameter \$contextService of method Swag\\PayPal\\AgenticCommerce\\.*\:\:__construct\(\) has typehint with internal interface Shopware\\Core\\System\\SalesChannel\\Context\\SalesChannelContextServiceInterface\.$#'
			identifier: parameter.internalInterface
			paths:
				- src/AgenticCommerce/Util/FaviconLoader.php
				- src/AgenticCommerce/Routing/AgentRequestContextResolver.php
				- src/AgenticCommerce/SalesChannel/CreateCartRoute.php
				- src/AgenticCommerce/SalesChannel/UpdateCartRoute.php

		-
			message: '#^Property \$contextService references internal interface Shopware\\Core\\System\\SalesChannel\\Context\\SalesChannelContextServiceInterface in its type\.$#'
			identifier: property.internalInterface
			paths:
				- src/AgenticCommerce/Util/FaviconLoader.php
				- src/AgenticCommerce/Routing/AgentRequestContextResolver.php
				- src/AgenticCommerce/SalesChannel/AbstractAgenticCommerceRoute.php
				- src/AgenticCommerce/SalesChannel/CreateCartRoute.php
				- src/AgenticCommerce/SalesChannel/UpdateCartRoute.php

		-
			message: '#^Call to method get\(\) of internal interface Shopware\\Core\\System\\SalesChannel\\Context\\SalesChannelContextServiceInterface from outside its root namespace Shopware\.$#'
			identifier: method.internalInterface
			paths:
				- src/AgenticCommerce/Util/FaviconLoader.php
				- src/AgenticCommerce/Routing/AgentRequestContextResolver.php
				- src/AgenticCommerce/SalesChannel/AbstractAgenticCommerceRoute.php
