# Polyfill of trunk's common.neon

parameters:
    reportMaybesInMethodSignatures: false
    reportWrongPhpDocTypeInVarTag: false

    strictRules:
        disallowedLooseComparison: false
        booleansInConditions: false
        booleansInLoopConditions: false
        uselessCast: false
        requireParentConstructorCall: false
        disallowedBacktick: false
        disallowedEmpty: false
        disallowedImplicitArrayCreation: false
        disallowedShortTernary: false
        overwriteVariablesWithLoop: false
        closureUsesThis: false
        matchingInheritedMethodNames: false
        numericOperandsInArithmeticOperators: false
        strictFunctionCalls: false
        dynamicCallOnStaticMethod: false
        switchConditionsMatchingType: false
        noVariableVariables: false
        strictArrayFilter: false
        illegalConstructorMethodCall: false

    ignoreErrors:
        - message: '#.* method_exists\(\) with Shopware\\Core\\Checkout\\Order\\OrderEntity .*#'
          identifier: function.impossibleType
          path: tests/Checkout/Document/Zugferd/ZugferdSubscriberTest.php

        - identifier: symplify.noDynamicName
          path: tests/Pos/Mock/MessageBusMock.php

        - identifier: symplify.noDynamicName
          paths:
            - src/Pos/Api/Common/PosStruct.php
            - tests/OrdersApi/Builder/APMOrderBuilderTest.php
            - tests/Pos/Run/PosSyncControllerTest.php
            - tests/Storefront/Controller/ApplePayControllerTest.php
            - tests/Storefront/Data/CheckoutSubscriberTest.php

        - identifier: arguments.count
          message: '#.*PaymentMethodBlockedError.*#'
          paths:
              - src/Checkout/Cart/Validation/CartValidator.php
              - tests/Checkout/PUI/PUISubscriberTest.php
              - tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
              - tests/Storefront/Data/CheckoutSubscriberTest.php
