includes:
    - %ShopwareRoot%/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    phpVersion: 80100
    level: 8
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false

    paths:
        -   src
        -   tests
    excludePaths:
        -   src/Resources
        -   src/DevOps/Rector

    symfony:
        constant_hassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        container_xml_path: '../../..%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'

    ignoreErrors:
        # We won't type all arrays/iterables for now
        -   '#no value type specified in iterable type#'

        -   # This service gets registered within Cms Extensions
            message: '#is not registered in the container#'
            path: tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php

        -   # Services in tests are all public
            message: '#Service ".*" is private#'
            path: tests/**/*.php

        -   # Ignore finality of repository in tests
            message: '#.*extends @final class (\w|\\)*(SalesChannel|Entity)Repository#'
            path: tests/**/*.php

        -   # ignore own deprecations in tests
            message: '#.*tag:v9.0.0 -#'
            path: tests/**/*.php

        -   # ignore Plus deprecations
            message: '#deprecated.*(Plus|PLUS|_PAYMENT_|MERCHANT_LOCATION)#'

        -   # ignore SystemConfigController context requirement
            message: '#Call to deprecated method batchSaveConfiguration#'
            path: tests/Webhook/Registration/WebhookSystemConfigControllerTest.php
            count: 11

        -   # ignore shopware v6.7 deprecations
            message: '#.*tag:v6.7.0 -#'
            paths:
                - tests/**/*.php
                - src/Util/Lifecycle/Update.php

    bootstrapFiles:
        -   bin/static-analyze-autoloader.php

rules:
    - Shopware\Core\DevOps\StaticAnalyze\PHPStan\Rules\Internal\InternalClassRule
    - Shopware\Core\DevOps\StaticAnalyze\PHPStan\Rules\Internal\InternalClassRule
    - Shopware\Core\DevOps\StaticAnalyze\PHPStan\Rules\Internal\InternalMethodRule
    - Shopware\Core\DevOps\StaticAnalyze\PHPStan\Rules\PackageAnnotationRule
