@import "~scss/variables";

.swag-paypal-izettle-detail-logs {
    .sw-card__content > div.sw-data-grid {
        margin: -30px;
    }

    .swag-paypal-izettle-detail-logs-entry__icon {
        margin-right: .5 * $font-size-default;

        &.swag-paypal-izettle-detail-logs-entry--warning {
            border-color: $color-pumpkin-spice-500;
            color: $color-pumpkin-spice-500;
        }

        &.swag-paypal-izettle-detail-logs-entry--error {
            border-color: $color-crimson-500;
            color: $color-crimson-500;
        }

        &.swag-paypal-izettle-detail-logs-entry--success {
            border-color: $color-emerald-500;
            color: $color-emerald-500;
        }

        &.swag-paypal-izettle-detail-logs-entry--info {
            border-color: $color-shopware-brand-500;
            color: $color-shopware-brand-500;
        }
    }

    .sw-empty-state {
        position: relative;
        width: auto;
    }
}
