@import "~scss/variables";

.swag-paypal-local-environment {
    &__warning-text {
        width: 100%;
    }

    .sw-card__content {
        display: grid;
        gap: 16px;
        font-size: $font-size-xs;
        line-height: $line-height-sm;
    }

    .sw-field--switch {
        margin: 0;
    }
}
