.swag-paypal-settings-sales-channel-switch {
    &__header-right {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__default {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        font-size: var(--font-size-xs);
    }
}
