@import "~scss/variables";

.swag-paypal-izettle-wizard-sync-library {
    .swag-paypal-izettle-wizard-sync-library__headline {
        margin: 0 0 18px 0;
        font-weight: bold;
    }

    .swag-paypal-izettle-wizard-sync-library__disclaimer {
        color: $color-gray-500;
        font-size: $font-size-small;
    }
}
