@import '~scss/variables';

.swag-paypal-pos-wizard-modal {
    &.sw-modal--large .sw-modal__dialog {
        height: 720px;
        max-height: calc(100vh - 48px);
        display: flex;
        justify-content: space-between;
        max-width: 1030px;
    }

    &.sw-modal .sw-modal__body {
        height: 100%;
        overflow-y: hidden;
        padding: 0;
    }

    .sw-modal__footer {
        display: flex;

        .footer-left .sw-button {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }

        .footer-right .sw-button {
            margin-left: 12px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .swag-paypal-pos-wizard__modal-content {
        height: 100%;
    }

    .swag-paypal-pos-wizard__columns {
        height: 100%;
        grid-template-columns: 1fr;
    }

    .swag-paypal-pos-wizard__columns--two {
        grid-template-columns: 230px 4fr;
    }

    .swag-paypal-pos-wizard__steps {
        min-width: 100%;
        padding: 24px;
        margin-right: 25%;
        border-right: 1px solid $color-gray-300;
    }

    .swag-paypal-pos-wizard__page {
        overflow-y: auto;
        padding: 40px;
    }

    .swag-paypal-pos-wizard__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .footer-right {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .skip-button {
                margin-right: 12px;
            }
        }
    }
}
