{% block swag_paypal %}
    <sw-page class="swag-paypal">
        {% block swag_paypal_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('swag-paypal.header') }}
                </h2>
            </template>
        {% endblock %}

        {% block swag_paypal_actions %}
            <template slot="smart-bar-actions">
                {% block swag_paypal_actions_test %}
                    <sw-button @click="onTest"
                               :disabled="isLoading || !clientSecretFilled || !clientIdFilled">
                        {{ $tc('swag-paypal.settingForm.test') }}
                    </sw-button>
                {% endblock %}

                {% block swag_paypal_actions_save %}
                    <sw-button-process
                            class="sw-settings-login-registration__save-action"
                            :isLoading="isLoading"
                            :processSuccess="isSaveSuccessful"
                            :disabled="isLoading"
                            variant="primary"
                            @process-finish="saveFinish"
                            @click="onSave">
                        {{ $tc('swag-paypal.settingForm.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block swag_paypal_content %}
            <sw-card-view slot="content">
                <sw-system-config
                        ref="systemConfig"
                        salesChannelSwitchable
                        @config-changed="onConfigChange"
                        domain="SwagPayPal.settings">
                    <template #card-element="{element, config}">
                        <sw-form-field-renderer v-bind="getBind(element, config)"
                                                v-model="config[element.name]">
                        </sw-form-field-renderer>
                    </template>
                </sw-system-config>
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
