{% block swag_paypal_izettle_wizard_sync_prices %}
    <div class="swag-paypal-izettle-wizard-sync-prices">

        {% block swag_paypal_izettle_wizard_sync_prices_header %}
            <div class="swag-paypal-izettle-wizard-sync-prices__headline">
                {{ $tc('swag-paypal-izettle.wizard.syncPrices.header') }}
            </div>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_sync_prices_description_input %}
            <swag-paypal-izettle-boolean-radio
                v-model="salesChannel.extensions.paypalIZettleSalesChannel.syncPrices"
                :label="$tc('swag-paypal-izettle.wizard.syncPrices.description')"
                :optionTrue="optionTrue"
                :optionFalse="optionFalse">
            </swag-paypal-izettle-boolean-radio>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_sync_prices_disclaimer %}
            <div class="swag-paypal-izettle-wizard-sync-prices__disclaimer">
                {{ $tc('swag-paypal-izettle.wizard.syncPrices.disclaimer') }}
            </div>
        {% endblock %}
    </div>
{% endblock %}
