@import "~scss/variables";

.swag-image-slider {
    &__image-container {
        &-scrollable {
            transform: translateX(0px);
            transition: transform 0.3s ease-out;
            clear: both;
        }

        &-element {
            display: flex;
            float: left;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: $border-radius-default;

            &-image {
                border-radius: $border-radius-default;
            }
        }
    }

    &__buttons {
        text-align: center;
        margin: 12px;

        &-element {
            width: 12px;
            height: 12px;
            background: $color-gray-500;
            margin: 0 6px;
            border: 0 none;
            border-radius: 100%;
            outline: none;
            cursor: pointer;
            text-indent: -9999px;

            &.is--active {
                background: $color-darkgray-100;
            }
        }
    }
}