.swag-paypal-button {
    width: 100%;

    &.shape-sharp {
        --paypal-button-border-radius: 0px;
        --google-pay-button-border-radius: 0;
        --apple-pay-button-border-radius: 0;
    }

    &.shape-pill {
        --paypal-button-border-radius: 500px;
        --google-pay-button-border-radius: 500;
        --apple-pay-button-border-radius: 500px;
    }

    &.shape-rect {
        --paypal-button-border-radius: 4px;
        --google-pay-button-border-radius: 4;
        --apple-pay-button-border-radius: 4px;
    }
}

.swag-paypal-express-buttons, .swag-paypal-checkout-buttons {
    display: grid;
    gap: 0.5rem;
}

.swag-paypal-acdc-form-field {
    height: 50px;
}

.swag-paypal-installment-banner {
    paypal-message {
        --paypal-message-font-size: 12px;
    }

    &-cart-table {
        background: #eaeced;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }

    &:has(paypal-message[hidden]) {
        display: none;
    }
}
