{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_payment_logos %}
    {# @var \Swag\PayPal\Checkout\SPBCheckout\SPBMarksData spbCheckoutMarksData #}
    {% set spbCheckoutMarksData = page.footer.extensions[constant('Swag\\PayPal\\Checkout\\SPBCheckout\\SPBMarksSubscriber::PAYPAL_SMART_PAYMENT_MARKS_DATA_EXTENSION_ID')] %}

    {% if spbCheckoutMarksData %}
        <div data-swag-paypal-marks="true"
             data-swag-pay-pal-marks-options="{{ spbCheckoutMarksData|json_encode }}">
        </div>
    {% endif %}

    {# @var \Swag\PayPal\Installment\Banner\BannerData installmentBanner #}
    {% set installmentBanner = page.footer.extensions[constant('Swag\\PayPal\\Installment\\Banner\\InstallmentBannerSubscriber::PAYPAL_INSTALLMENT_BANNER_DATA_EXTENSION_ID')] %}

    {% if installmentBanner is not null %}
        <div class="col-4 mt-2"
             data-swag-paypal-installment-banner="true"
             data-swag-pay-pal-installment-banner-options="{{ installmentBanner|json_encode }}">
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
