{% sw_extends '@Storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {{ parent() }}

    {% set expressSettings = page.extensions.payPalExpressData %}

    {% if expressSettings.productDetailEnabled %}
        <div class="form-row justify-content-end">
            <div class="col-8 swag-paypal__detail-express-button"
                 data-swag-paypal-express-button="true"
                 data-swag-pay-pal-express-button-options="{{ expressSettings|json_encode }}">
            </div>
        </div>
    {% endif %}
{% endblock %}
