@import "~scss/variables";

.swag-paypal-disputes-list {
    &__sidebar .sw-sidebar-item__scrollable-container {
        padding: 0 25px;
    }

    &__reason {
        font-size: $font-size-xxs;
    }

    &__stage-inquiry {
        color: $color-module-yellow-900;
    }

    &__stage-other {
        color: $color-crimson-900;
    }
}
