{% block swag_paypal_paymemnt_action_v2_void %}
<sw-modal
    variant="small"
    :title="$tc(`swag-paypal-payment.modal.title.void`)"
    @modal-close="closeModal"
>

    {% block swag_paypal_paymemnt_action_v2_void_headline %}
    <p>{{ $tc('swag-paypal-payment.voidAction.confirm.message') }}</p>
    {% endblock %}

    <template #modal-footer>

        {% block swag_paypal_paymemnt_action_v2_void_cancel_button %}
        <sw-button @click="closeModal">
            {{ $tc('global.default.no') }}
        </sw-button>
        {% endblock %}

        {% block swag_paypal_paymemnt_action_v2_void_confirm_button %}
        <sw-button variant="primary" @click="voidPayment">
            {{ $tc('swag-paypal-payment.voidAction.confirm.button.confirm') }}
        </sw-button>
        {% endblock %}

    </template>

    <sw-loader v-if="isLoading" size="43px"/>
</sw-modal>
{% endblock %}
