{% block swag_paypal_payment_action_refund %}
    <div>
        {% block swag_paypal_payment_action_refund_invoice_select %}
            <sw-select-field :label="$tc('swag-paypal.refundAction.invoiceSelect.label')"
                             v-model="selectedCaptureId"
                             @change="preserveCapture">
                <option v-for="capture in captures"
                        :value="capture.id">
                    {{ capture.label }}
                </option>
            </sw-select-field>
        {% endblock %}

        {% block swag_paypal_payment_action_refund_amount %}
            <sw-field type="number"
                      v-model="refundAmount"
                      :max="refundableAmount"
                      :min="0"
                      :label="$tc('swag-paypal.refundAction.refundAmount.label')"
                      :suffix="selectedCapture.currency">
            </sw-field>
        {% endblock %}

        {% block swag_paypal_payment_action_refund_confirm_button %}
        <sw-button variant="primary"
                   @click="refund">
            {{ $tc('swag-paypal.refundAction.confirmButton.text') }}
        </sw-button>
        {% endblock %}

        <sw-loader v-if="isLoading">
        </sw-loader>
    </div>
{% endblock %}