.swag-paypal__login-express-button {
    padding-bottom: $spacer-sm;
}

.swag-paypal__detail-express-button {
    padding-top: $spacer-md;
    z-index: 0;
}

.swag-paypal__listing-express-button {
    padding-top: $spacer-md;
}
