@import "~scss/variables";

.swag-paypal-pos-wizard-connection {
    .swag-paypal-pos-wizard-connection__headline {
        margin: 24px 0 18px 0;
        font-weight: bold;

        &:first-child {
            margin-top: 0;
        }
    }

    .swag-paypal-pos-wizard-connection__apikey-field {
        margin-bottom: 8px;
    }

    .swag-paypal-pos-wizard-connection__apikey-suffix {
        margin-bottom: 2px;
    }

    .swag-paypal-pos-wizard-connection__apikey-description {
        margin-bottom: 16px;
        font-size: $font-size-xs;
    }

    .swag-paypal-pos-wizard-connection__apikey-description-text {
        display: inline;
        margin-top: 8px;
        color: #94A6B8;
        font-size: $font-size-xs;
    }

    .swag-paypal-pos-wizard-connection__link-icon {
        margin: 2px;
    }

    .swag-paypal-pos-wizard-connection__new-customer-headline {
        margin-bottom: 16px;
    }

    .swag-paypal-pos-wizard-connection__pos-logo {
        object-fit: contain;
        object-position: left;
        height: 38px;
        width: auto;
    }

    .swag-paypal-pos-wizard-connection__pos-link {
        display: flex;
        justify-content: space-around;
    }
}
