@import "~scss/variables";

.swag-paypal-settings-plus-fields {
    .swag-paypal-payal-plus-disabled {
        color: $color-gray-500;

        & a {
            color: $color-gray-500;
        }

        & a::after {
            background-color: $color-gray-500;
        }
    }

    .sw-field.is--disabled .sw-field__label label {
        color: $color-gray-500;
        cursor: auto;
    }
}
