@import "~scss/mixins";

.swag-paypal-settings-icon {
    @include size(18px);

    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    shape-rendering: geometricPrecision;

    > svg {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}
