<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <import resource="../../Administration/**/*Controller.php" type="attribute"/>
    <import resource="../../Checkout/**/*Controller.php" type="attribute"/>
    <import resource="../../Checkout/**/*Route.php" type="attribute"/>
    <import resource="../../Dispute/**/*Controller.php" type="attribute"/>
    <import resource="../../Pos/**/*Controller.php" type="attribute"/>
    <import resource="../../OrdersApi/**/*Controller.php" type="attribute"/>
    <import resource="../../PaymentsApi/**/*Controller.php" type="attribute"/>
    <import resource="../../Setting/**/*Controller.php" type="attribute"/>
    <import resource="../../Storefront/**/*Controller.php" type="attribute"/>
    <import resource="../../Webhook/**/*Controller.php" type="attribute"/>
</routes>
