{% block swag_paypal_izettle_detail_runs %}
    <div class="swag-paypal-izettle-detail-logs">

        {% block swag_paypal_izettle_detail_runs_account %}
            <swag-paypal-izettle-account :salesChannel="salesChannel"></swag-paypal-izettle-account>
        {% endblock %}

        {% block swag_paypal_izettle_detail_runs_card %}
            <sw-card :title="$tc('swag-paypal-izettle.detail.runs.title')"
                     :isLoading="isLoading">

                {% block swag_paypal_izettle_detail_runs_card_grid %}
                    <template v-if="runTotal > 0"
                              #grid>

                        <sw-data-grid :columns="columns"
                                      :dataSource="runs"
                                      :isLoading="isLoading"
                                      :showSelection="false">

                            {% block swag_paypal_izettle_detail_runs_card_grid_pagination %}
                                <template #pagination>
                                    <sw-pagination :limit="runLimit"
                                                   :page="runPage"
                                                   :total="runTotal"
                                                   :total-visible="7"
                                                   @page-change="onPaginate">
                                    </sw-pagination>
                                </template>
                            {% endblock %}

                            {% block swag_paypal_izettle_detail_runs_card_grid_column_date %}
                                <template #column-date="{ item }">

                                    {% block swag_paypal_izettle_detail_runs_card_grid_column_date_formatted %}
                                            {{ item.finishedAt | date({
                                                hour: '2-digit',
                                                minute: '2-digit',
                                                day: '2-digit',
                                                month: '2-digit',
                                                year: '2-digit'
                                            })
                                            }}
                                    {% endblock %}

                                </template>
                            {% endblock %}

                            {% block swag_paypal_izettle_detail_runs_other_grid_column_log %}
                                <template #column-task="{ item }">
                                    {{ `${item.task.charAt(0).toUpperCase() + item.task.slice(1)} ${$tc('swag-paypal-izettle.detail.runs.taskPostfix')}` }}
                                </template>
                            {% endblock %}

                            {% block swag_paypal_izettle_detail_runs_card_grid_column_state %}
                                <template #column-state="{ item }">

                                    {% block swag_paypal_izettle_detail_runs_card_grid_column_state_label %}
                                        <sw-label appearance="pill"
                                                  :variant="getLabelVariant(item)">
                                            {{ $tc(getLabel(item)) }}
                                        </sw-label>
                                    {% endblock %}

                                </template>
                            {% endblock %}

                            {% block swag_paypal_izettle_detail_runs_card_grid_actions %}
                                <template #actions="{ item }">

                                    {% block swag_paypal_izettle_detail_runs_card_grid_actions_details %}
                                        <sw-context-menu-item :disabled="item.logs.length <= 0"
                                                              @click="onShowModal(item.id)">
                                            {{ $tc('swag-paypal-izettle.detail.runs.actions.showDetails') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                </template>
                            {% endblock %}

                        </sw-data-grid>
                    </template>
                {% endblock %}

                {% block swag_paypal_izettle_detail_runs_card_empty_state %}
                    <sw-empty-state v-else
                                    :title="$tc('swag-paypal-izettle.detail.runs.emptyState.title')"
                                    :subline="$tc('swag-paypal-izettle.detail.runs.emptyState.message')">
                    </sw-empty-state>
                {% endblock %}

                {% block swag_paypal_izettle_detail_runs_card_toolbar %}
                    <template #toolbar>

                        {% block swag_paypal_izettle_detail_runs_card_toolbar_container %}
                            <sw-container columns="1fr min-content"
                                          align="center">

                                {% block swag_paypal_izettle_detail_runs_card_toolbar_container_text %}
                                    <p>{{ $tc('swag-paypal-izettle.detail.runs.toolbarText') }}</p>
                                {% endblock %}

                                {% block swag_paypal_izettle_detail_runs_card_toolbar_container_button %}
                                    <sw-button @click="onClearLogs">
                                        {{ $tc('swag-paypal-izettle.detail.cleanLog') }}
                                    </sw-button>
                                {% endblock %}

                            </sw-container>
                        {% endblock %}

                    </template>
                {% endblock %}

            </sw-card>
        {% endblock %}

        {% block swag_paypal_izettle_detail_runs_log_modal %}
            <sw-modal v-if="showModal"
                      class="swag-paypal-izettle-detail-logs__modal"
                      :title="$tc('swag-paypal-izettle.detail.runs.title')"
                      :isLoading="isLoading"
                      variant="large"
                      @modal-close="onCloseModal">

                {% block swag_paypal_izettle_detail_runs_log_modal_logs %}
                    <swag-paypal-izettle-detail-logs :runId="currentRunId"></swag-paypal-izettle-detail-logs>
                {% endblock %}

                {% block swag_paypal_izettle_detail_runs_log_modal_footer %}
                    <template #modal-footer>

                        {% block swag_paypal_izettle_detail_runs_log_modal_footer_close_modal_button %}
                            <sw-button variant="primary"
                                       @click="onCloseModal">
                                {{ $tc('global.default.cancel') }}
                            </sw-button>
                        {% endblock %}

                    </template>
                {% endblock %}

            </sw-modal>
        {% endblock %}

    </div>
{% endblock %}
