@import "~scss/variables";

.swag-paypal-pos-account {
    .swag-paypal-pos-account__logo {
        object-fit: contain;
    }

    .swag-paypal-pos-account__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .swag-paypal-pos-account__account-info {
        margin-left: 24px;
    }

    .swag-paypal-pos-account__edit-connection-button {
        margin-top: 12px;
    }

    .swag-paypal-pos-account__status-container {
        display: flex;
        flex-direction: column;
        align-content: end;
    }

    .swag-paypal-pos-account__status-label {
        margin-left: auto;
        margin-right: 0;
    }

    .swag-paypal-pos-account__status-color-badge {
        margin: 4px auto 0px auto;
    }

    .swag-paypal-pos-account__status-updated {
        color: $color-gray-500;
        font-size: $font-size-xxs;
    }

    .swag-paypal-pos-account__name {
        font-weight: $font-weight-semi-bold;
    }

    .swag-paypal-pos-account__email {
        color: $color-gray-800;
        font-size: $font-size-xs;
    }

    .swag-paypal-pos-account__manage-link {
        font-size: $font-size-xs;
    }

    .swag-paypal-pos-account__status-text {
        font-weight: $font-weight-semi-bold;
    }
}
