{% block sw_settings_shipping_detail_tax_cost %}

    {% block sw_settings_shipping_detail_paypal_default_carrier %}
    <sw-card
        v-show="isPayPalEnabled"
        class="swag-paypal-settings-shipping-carrier"
        position-identifier="swag-paypal-settings-shipping-carrier"
    >
        {% block sw_settings_shipping_detail_paypal_default_carrier_title %}
        <template #title>
            <div class="sw-card__title">
                {{ $tc('swag-paypal-settings-shipping-carrier.cardTitle') }}
                <sw-help-text :text="$tc('swag-paypal-settings-shipping-carrier.cardHelpText')"></sw-help-text>
            </div>
        </template>
        {% endblock %}

        {% block sw_settings_shipping_detail_paypal_default_carrier_description %}
            <div
                v-html="$tc('swag-paypal-settings-shipping-carrier.description')"
                class="swag-paypal-settings-shipping-carrier__description"
            ></div>
        {% endblock %}

        {% block sw_settings_shipping_detail_paypal_default_carrier_input %}
        <sw-text-field
            v-model:value="payPalDefaultCarrier"
            :label="$tc('swag-paypal-settings-shipping-carrier.inputLabel')"
            :placeholder="$tc('swag-paypal-settings-shipping-carrier.inputPlaceholder')"
        ></sw-text-field>
        {% endblock %}

    </sw-card>
    {% endblock %}

    {% parent %}
{% endblock %}
