{% block swag_paypal_content_card_channel_config_credentials %}
<sw-card
    position-identifier="swag-paypal-credentials"
    :title="$tc('swag-paypal.settingForm.credentials.cardTitle')"
>

    {% block swag_paypal_content_card_channel_config_credentials_card_container %}
    <sw-container>

        {% block swag_paypal_content_card_channel_config_credentials_card_container_settings %}
        <div v-if="actualConfigData" class="swag-paypal-settings-credentials-fields">

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_client_id %}
            <sw-inherit-wrapper
                {% if VUE3 %}
                v-model:value="actualConfigData['SwagPayPal.settings.clientId']"
                {% else %}
                v-model="actualConfigData['SwagPayPal.settings.clientId']"
                {% endif %}
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['SwagPayPal.settings.clientId']"
                :customInheritationCheckFunction="checkTextFieldInheritance"
            >
                <template #content="props">
                    <sw-text-field
                        name="SwagPayPal.settings.clientId"
                        :mapInheritance="props"
                        :label="$tc('swag-paypal.settingForm.credentials.clientId.label')"
                        :helpText="$tc('swag-paypal.settingForm.credentials.clientId.tooltipText')"
                        :disabled="props.isInherited || !acl.can('swag_paypal.editor')"
                        :value="props.currentValue"
                        :error="clientIdErrorState"
                        {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                        {% else %}
                        @change="props.updateCurrentValue"
                        @input="props.updateCurrentValue"
                        {% endif %}
                    />
                </template>
            </sw-inherit-wrapper>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_client_secret %}
            <sw-inherit-wrapper
                {% if VUE3 %}
                v-model:value="actualConfigData['SwagPayPal.settings.clientSecret']"
                {% else %}
                v-model="actualConfigData['SwagPayPal.settings.clientSecret']"
                {% endif %}
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['SwagPayPal.settings.clientSecret']"
                :customInheritationCheckFunction="checkTextFieldInheritance"
            >
                <template #content="props">
                    <sw-text-field
                        name="SwagPayPal.settings.clientSecret"
                        :mapInheritance="props"
                        :label="$tc('swag-paypal.settingForm.credentials.clientSecret.label')"
                        :helpText="$tc('swag-paypal.settingForm.credentials.clientSecret.tooltipText')"
                        :disabled="props.isInherited || !acl.can('swag_paypal.editor')"
                        :value="props.currentValue"
                        :error="clientSecretErrorState"
                        {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                        {% else %}
                        @input="props.updateCurrentValue"
                        @change="props.updateCurrentValue"
                        {% endif %}
                    />
                </template>
            </sw-inherit-wrapper>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_merchant_id %}
            <sw-inherit-wrapper
                {% if VUE3 %}
                v-model:value="actualConfigData['SwagPayPal.settings.merchantPayerId']"
                {% else %}
                v-model="actualConfigData['SwagPayPal.settings.merchantPayerId']"
                {% endif %}
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['SwagPayPal.settings.merchantPayerId']"
                :customInheritationCheckFunction="checkTextFieldInheritance"
            >
                <template #content="props">
                    <sw-text-field
                        name="SwagPayPal.settings.merchantPayerId"
                        :mapInheritance="props"
                        :label="$tc('swag-paypal.settingForm.credentials.merchantPayerId.label')"
                        :helpText="$tc('swag-paypal.settingForm.credentials.merchantPayerId.tooltipText')"
                        :disabled="props.isInherited || !acl.can('swag_paypal.editor')"
                        :value="props.currentValue"
                        {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                        {% else %}
                        @change="props.updateCurrentValue"
                        {% endif %}
                    />
                </template>
            </sw-inherit-wrapper>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_actions_test %}
            <sw-button-process
                {% if VUE3 %}
                v-model:processSuccess="isTestLiveSuccessful"
                {% else %}
                v-model="isTestLiveSuccessful"
                {% endif %}
                class="swag-paypal-settings-credentials-fields__test-button"
                :isLoading="isTestingLive"
                :disabled="testLiveButtonDisabled"
                @click="onTest(false)"
            >
                {{ $tc('swag-paypal.settingForm.testLive') }}
            </sw-button-process>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_sandbox %}
            <sw-inherit-wrapper
                {% if VUE3 %}
                v-model:value="actualConfigData['SwagPayPal.settings.sandbox']"
                {% else %}
                v-model="actualConfigData['SwagPayPal.settings.sandbox']"
                {% endif %}
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['SwagPayPal.settings.sandbox']"
                :customInheritationCheckFunction="checkBoolFieldInheritance"
            >
                <template #content="props">
                    <sw-switch-field
                        name="SwagPayPal.settings.sandbox"
                        :mapInheritance="props"
                        :label="$tc('swag-paypal.settingForm.credentials.sandbox.label')"
                        :helpText="$tc('swag-paypal.settingForm.credentials.sandbox.tooltipText')"
                        :disabled="props.isInherited || !acl.can('swag_paypal.editor')"
                        :value="props.currentValue"
                        {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                        {% else %}
                        @change="props.updateCurrentValue"
                        {% endif %}
                    />
                </template>
            </sw-inherit-wrapper>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_client_id_sandbox %}
            <sw-inherit-wrapper
                {% if VUE3 %}
                v-model:value="actualConfigData['SwagPayPal.settings.clientIdSandbox']"
                {% else %}
                v-model="actualConfigData['SwagPayPal.settings.clientIdSandbox']"
                {% endif %}
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['SwagPayPal.settings.clientIdSandbox']"
                :customInheritationCheckFunction="checkTextFieldInheritance"
            >
                <template #content="props">
                    <sw-text-field
                        name="SwagPayPal.settings.clientIdSandbox"
                        :mapInheritance="props"
                        :label="$tc('swag-paypal.settingForm.credentials.clientIdSandbox.label')"
                        :helpText="$tc('swag-paypal.settingForm.credentials.clientIdSandbox.tooltipText')"
                        :disabled="props.isInherited || !acl.can('swag_paypal.editor')"
                        :value="props.currentValue"
                        :error="clientIdSandboxErrorState"
                        {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                        {% else %}
                        @change="props.updateCurrentValue"
                        @input="props.updateCurrentValue"
                        {% endif %}
                    />
                </template>
            </sw-inherit-wrapper>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_client_secret_sandbox %}
            <sw-inherit-wrapper
                {% if VUE3 %}
                v-model:value="actualConfigData['SwagPayPal.settings.clientSecretSandbox']"
                {% else %}
                v-model="actualConfigData['SwagPayPal.settings.clientSecretSandbox']"
                {% endif %}
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['SwagPayPal.settings.clientSecretSandbox']"
                :customInheritationCheckFunction="checkTextFieldInheritance"
            >
                <template #content="props">
                    <sw-text-field
                        name="SwagPayPal.settings.clientSecretSandbox"
                        :mapInheritance="props"
                        :label="$tc('swag-paypal.settingForm.credentials.clientSecretSandbox.label')"
                        :helpText="$tc('swag-paypal.settingForm.credentials.clientSecretSandbox.tooltipText')"
                        :disabled="props.isInherited || !acl.can('swag_paypal.editor')"
                        :value="props.currentValue"
                        :error="clientSecretSandboxErrorState"
                        {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                        {% else %}
                        @change="props.updateCurrentValue"
                        @input="props.updateCurrentValue"
                        {% endif %}
                    />
                </template>
            </sw-inherit-wrapper>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_merchant_id_sandbox %}
            <sw-inherit-wrapper
                {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                v-model:value="actualConfigData['SwagPayPal.settings.merchantPayerIdSandbox']"
                {% else %}
                v-model="actualConfigData['SwagPayPal.settings.merchantPayerIdSandbox']"
                {% endif %}
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['SwagPayPal.settings.merchantPayerIdSandbox']"
                :customInheritationCheckFunction="checkTextFieldInheritance"
            >
                <template #content="props">
                    <sw-text-field
                        name="SwagPayPal.settings.merchantPayerIdSandbox"
                        :mapInheritance="props"
                        :label="$tc('swag-paypal.settingForm.credentials.merchantPayerIdSandbox.label')"
                        :helpText="$tc('swag-paypal.settingForm.credentials.merchantPayerIdSandbox.tooltipText')"
                        :disabled="props.isInherited || !acl.can('swag_paypal.editor')"
                        :value="props.currentValue"
                        {% if VUE3 %}
                        @update:value="props.updateCurrentValue"
                        {% else %}
                        @change="props.updateCurrentValue"
                        {% endif %}
                    />
                </template>
            </sw-inherit-wrapper>
            {% endblock %}

            {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_actions_test_sandbox %}
            <sw-button-process
                {% if VUE3 %}
                v-model:processSuccess="isTestSandboxSuccessful"
                {% else %}
                v-model="isTestSandboxSuccessful"
                {% endif %}
                :isLoading="isTestingSandbox"
                :disabled="testSandboxButtonDisabled"
                @click="onTest(true)"
            >
                {{ $tc('swag-paypal.settingForm.testSandbox') }}
            </sw-button-process>
            {% endblock %}
        </div>
        {% endblock %}
    </sw-container>
    {% endblock %}
</sw-card>
{% endblock %}
