{% block swag_paypal_pos_detail_overview %}
    <div class="sw-sales-channel-detail-overview">


        {% block swag_paypal_pos_detail_overview_status %}
            <swag-paypal-pos-status-view
                    v-if="salesChannel.active"
                    :isLoading="isLoading"
                    :isSyncing="isSyncing"
                    :lastCompleteRun="lastCompleteRun"
                    :lastFinishedRun="lastRun"
                    :salesChannel="salesChannel"
                    :syncErrors="syncErrors">

                {% block swag_paypal_pos_detail_overview_status_actions %}
                    <template #actions>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aspernatur delectus dignissimos, dolore ea earum error laboriosam modi molestias nihil quam, quos sed sit unde velit voluptas voluptate voluptates.</span>
                    </template>
                {% endblock %}
            </swag-paypal-pos-status-view>
        {% endblock %}

        {% block swag_paypal_pos_detail_overview_setup %}
            <swag-paypal-pos-continue-setup v-else>
            </swag-paypal-pos-continue-setup>
        {% endblock %}

        {% block swag_paypal_pos_detail_overview_getting_started %}
            <swag-paypal-pos-getting-started>
            </swag-paypal-pos-getting-started>
        {% endblock %}
    </div>
{% endblock %}
