@import "~scss/variables";

.swag-paypal-shipping-alert {
    max-width: 960px;

    @media screen and (max-width: 1360px) {
        max-width: 770px;
    }

    &__closed {
        display: none;
    }

    .sw-internal-link {
        font-size: $font-size-default;
    }
}
