{% block swag_paypal_izettle_wizard_finish %}
    <div class="swag-paypal-izettle-wizard-finish">

        {% block swag_paypal_izettle_wizard_finish_content %}
            <h3>{{ $tc('swag-paypal-izettle.wizard.finish.header') }}</h3>

            <div class="paragraph" v-html="$tc('swag-paypal-izettle.wizard.finish.firstParagraph')"></div>

            <div class="paragraph" v-html="$tc('swag-paypal-izettle.wizard.finish.secondParagraph')"></div>
        {% endblock %}
    </div>
{% endblock %}
