<sw-meteor-card :class="cardClasses">
    <div class="sw-campaign-banner__container">
        <div class="sw-campaign-banner__image">
            <img :src="image">
        </div>

        <div class="sw-campaign-banner__content">
            <div class="sw-campaign-banner__text">
                <span class="sw-campaign-banner__label">{{ labelText }}</span>
                <h3>{{ title }}</h3>
                <p>{{ text }}</p>
            </div>

            <div class="sw-campaign-banner__action">
                <sw-button variant="ghost" :routerLink="{ name: 'swag.paypal.index' }">
                    {{ linkTitle }}
                </sw-button>
            </div>


            <button
                class="swag-paypal-campaign-banner__close"
                @click.prevent="close"
            >
                <sw-icon
                    name="regular-times-s"
                    small
                />
            </button>
        </div>
    </div>
</sw-meteor-card>
