@import "~scss/variables";

.sw-first-run-wizard-paypal-credentials {
    width: 100%;

    .sw-first-run-wizard-paypal-credentials__headerText {
        font-weight: bold;
        color: $color-darkgray-200;
        margin-bottom: 22px;
    }

    .sw-first-run-wizard-paypal-credentials__button-container {
        display: flex;
        align-items: center;
        margin-bottom: 22px;

        .sw-first-run-wizard-paypal-credentials__indicator {
            display: inline;
            margin-left: 25px;

            .sw-first-run-wizard-paypal-credentials__icon-successful {
                color: $color-emerald-500;
                margin-top: -5px;
            }

            .sw-first-run-wizard-paypal-credentials__text-indicator {
                margin-left: 8px;
            }
        }
    }
}
