@import "~scss/variables";

.swag-paypal-vaulting {
    .swag-paypal-settings-vaulting {
        &-description-title {
            color: $color-darkgray-200;
            font-weight: $font-weight-bold;
            font-size: $font-size-m;
            margin-bottom: 16px;
        }

        &-activate-button {
            margin-top: 24px;
        }
    }
}
