@import "~scss/variables";

.swag-paypal-izettle-detail-logs {
    .sw-card__content > div.sw-data-grid {
        margin: -30px;
    }

    .sw-empty-state {
        position: relative;
        width: auto;
    }
}

.swag-paypal-izettle-detail-logs__modal {
    .sw-modal__body {
        padding: 0;
    }
}
