.swag-paypal-payment-actions__button-container {
    display: flex;
    justify-content: space-between;
}

.swag-paypal-payment-actions__authorize-button-group {
    display: flex;

    .sw-button:not(:last-child) {
        margin-right: 10px;
    }
}
