@import "~scss/variables";

.swag-paypal-settings-cross-border {
    &__warning-text {
        width: 100%;
    }

    &__content {
        display: grid;
        gap: 8px;
        font-size: $font-size-xs;
        line-height: $line-height-sm;
    }

    .sw-field {
        margin-bottom: 0;
    }
}
