{% block swag_paypal_izettle_wizard_customization %}
    <div class="swag-paypal-izettle-wizard-customization">
        <h3>{{ $tc('swag-paypal-izettle.wizard.customization.header') }}</h3>

        {% block swag_paypal_izettle_wizard_customization_name %}
            <sw-field v-model="salesChannel.name"
                      required
                      type="text"
                      validation="required"
                      :placeholder="placeholder(salesChannel, 'name', $tc('sw-sales-channel.detail.placeholderName'))"
                      :label="$tc('sw-sales-channel.detail.labelInputName')"
                      @input="forceUpdate">
            </sw-field>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_customization_media_domain %}
            <sw-url-field v-model="salesChannel.extensions.paypalIZettleSalesChannel.mediaDomain"
                          required
                          :label="$tc('swag-paypal-izettle.wizard.customization.labelDomain')"
                          @input="forceUpdate">
            </sw-url-field>
        {% endblock %}

        <div class="subtitle" v-html="$tc('swag-paypal-izettle.wizard.customization.subtitle')"></div>
    </div>
{% endblock %}
