@import "~scss/variables";

.swag-paypal-setting {
    &.is--boolean {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 8px;
        margin-bottom: 32px;

        .sw-inherit-wrapper__toggle-wrapper {
            margin-bottom: 0;
            width: 100%;
            gap: 8px;
        }

        &.is--bordered {
            border-radius: 4px;
            border: 1px solid $color-gray-300;
            padding: 16px 16px;
        }

        .mt-switch {
            margin: 0;
        }

        .mt-switch.mt-switch--not-bordered {
           min-height: inherit;
        }
    }

    &.sw-card__title .sw-inherit-wrapper__toggle-wrapper {
        font-size: inherit;
    }

    // sw-card margin fixes
    &:first-child {
        .mt-field {
            margin-top: 0;
        }
    }

    &:nth-last-child(1 of :not(.sw-loader)) {
        margin-bottom: 0;

        .mt-field {
            margin-bottom: 0;
        }

        .sw-field {
            margin-bottom: 0;
        }
    }
}
