@import "~scss/variables";

.swag-paypal-pos-wizard-sync-library {
    .swag-paypal-pos-wizard-sync-library__headline {
        margin: 0 0 18px 0;
        font-weight: bold;
    }

    .swag-paypal-pos-wizard-sync-library__disclaimer {
        color: $color-gray-500;
        font-size: $font-size-xs;
    }
}
