@import "~scss/variables";

.swag-paypal-locale-field .sw-field {
    margin-bottom: 0;
}

.swag-paypal-locale-field__text {
    color: $color-gray-500;
    font-size: $font-size-xs;
    line-height: 22px;
    margin-top: 6px;
}
