{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_cart %}
    {{ parent() }}

    {# @var \Swag\PayPal\Checkout\ExpressCheckout\ExpressCheckoutButtonData expressSettings #}
    {% set expressSettings = page.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\ExpressCheckoutSubscriber::PAYPAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}

    {% if expressSettings.offCanvasEnabled %}
        {% sw_include '@SwagPayPal/storefront/component/ecs-spb-checkout/ecs-button.html.twig' with {button_class: 'btn-block'} %}
    {% endif %}

    {# @var \Swag\PayPal\Installment\Banner\BannerData installmentBanner #}
    {% set installmentBanner = page.extensions[constant('Swag\\PayPal\\Installment\\Banner\\InstallmentBannerSubscriber::PAYPAL_INSTALLMENT_BANNER_DATA_EXTENSION_ID')] %}

    {% if installmentBanner.offCanvasCartEnabled %}
        <div class="btn-block ml-1"
             data-swag-paypal-installment-banner="true"
             data-swag-pay-pal-installment-banner-options="{{ installmentBanner|json_encode }}">
        </div>
    {% endif %}
{% endblock %}
