{% block swag_paypal_izettle %}
    <sw-page class="swag-paypal-izettle">

        {% block swag_paypal_izettle_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('swag-paypal-izettle.header') }}
                </h2>
            </template>
        {% endblock %}

        {% block swag_paypal_izettle_actions %}
            <template #smart-bar-actions>
                <sw-button v-for="button in buttonConfig"
                           size="small"
                           :key="button.key"
                           :disabled="button.disabled"
                           :isLoading="button.isLoading || isLoading"
                           :variant="button.variant"
                           @click="onButtonClick(button.action)">
                    {{ button.label }}
                </sw-button>
            </template>
        {% endblock %}

        {% block swag_paypal_izettle_content %}
            <template #content>
                <sw-card-view>

                    {% block swag_paypal_izettle_content_tabs %}
                        <sw-tabs v-if="!isNewEntity && !isLoading" class="swag-paypal-izettle__tabs">

                            {%  block swag_paypal_izettle_content_tab_base %}
                                <sw-tabs-item :route="{ name: 'swag.paypal.izettle.detail.overview', params: { id: $route.params.id } }"
                                              :title="$tc('swag-paypal-izettle.tabTitle.overview')">
                                    {{ $tc('swag-paypal-izettle.tabTitle.overview') }}
                                </sw-tabs-item>
                            {% endblock %}

                            {%  block swag_paypal_izettle_content_tab_settings %}
                                <sw-tabs-item :route="{ name: 'swag.paypal.izettle.detail.settings', params: { id: $route.params.id } }"
                                              :title="$tc('swag-paypal-izettle.tabTitle.settings')">
                                    {{ $tc('swag-paypal-izettle.tabTitle.settings') }}
                                </sw-tabs-item>
                            {% endblock %}

                            {%  block swag_paypal_izettle_content_tab_log %}
                                <sw-tabs-item v-if="!isNewEntity"
                                              :route="{ name: 'swag.paypal.izettle.detail.logs', params: { id: $route.params.id } }"
                                              :title="$tc('swag-paypal-izettle.tabTitle.logs')">
                                    {{ $tc('swag-paypal-izettle.tabTitle.logs') }}
                                </sw-tabs-item>
                            {% endblock %}
                        </sw-tabs>
                    {% endblock %}

                    {% block swag_paypal_izettle_content_card %}
                        <router-view v-if="!isLoading"
                                     :key="$route.params.id"
                                     :salesChannel="salesChannel"
                                     :cloneSalesChannelId="cloneSalesChannelId"
                                     :isNewEntity="isNewEntity"
                                     @buttons-update="updateButtons"
                                     @update-clone-sales-channel="updateCloneSalesChannel">
                        </router-view>
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
