@import "~scss/variables";

.swag-paypal-webhook {
    .sw-card__titles {
        display: grid;
        grid-template-columns: min-content min-content;
        gap: 12px;
        place-items: center;

        .swag-paypal-webhook__title {
            font-size: $font-size-m;
            font-weight: $font-weight-semi-bold;
        }
    }

    .sw-card__content {
        display: grid;
        gap: 16px;
        place-items: end;
        font-size: $font-size-xs;
        line-height: $line-height-sm;
    }

    &__label {
        border: 0;
        margin: 0;

        .sw-label__caption {
            overflow: visible;
        }

        .sw-color-badge {
            margin: 0 0 0 2px;
        }
    }
}
