#swag-paypal-acdc-form {
    margin-top: 8px;

    .row {
        margin-bottom: 8px;
    }

    .col-sm-6:first-of-type {
        padding-right: 4px;
    }

    .col-sm-6:last-of-type {
        padding-left: 4px;
    }

    .braintree-hosted-fields-focused {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0;

        &.is-invalid {
            border-color: $form-feedback-invalid-color;
        }
    }
}
