{% sw_extends '@Storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    {{ parent() }}

    {% set expressSettings = page.extensions.payPalExpressData %}

    {% if expressSettings.loginEnabled %}
        <div class="row">
            <div class="col-5 swag-paypal__login-express-button"
                 data-swag-paypal-express-button="true"
                 data-swag-pay-pal-express-button-options="{{ expressSettings|json_encode }}">
            </div>
        </div>
    {% endif %}
{% endblock %}
