{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    {{ parent() }}

    {% block page_checkout_address_login_toggle_paypal_container %}
        {# @var \Swag\PayPal\Checkout\ExpressCheckout\ExpressCheckoutButtonData expressSettings #}
        {% set expressSettings = page.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\ExpressCheckoutSubscriber::PAYPAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}
        {% set expressEnabled = expressSettings.loginEnabled %}

        {# @var \Swag\PayPal\Installment\Banner\BannerData installmentBanner #}
        {% set installmentBanner = page.extensions[constant('Swag\\PayPal\\Installment\\Banner\\InstallmentBannerSubscriber::PAYPAL_INSTALLMENT_BANNER_DATA_EXTENSION_ID')] %}
        {% set installmentBannerEnabled = installmentBanner.loginPageEnabled %}

        {% set fastlaneSettings = page.extensions[constant('Swag\\PayPal\\Storefront\\Data\\FastlaneSubscriber::FASTLANE_DATA_EXTENSION')] %}

        {% if expressEnabled or installmentBannerEnabled or fastlaneSettings is not null %}
            <div class="row mb-2 g-3">

                {% block page_checkout_address_login_toggle_paypal_express %}
                    {% if expressEnabled %}
                        {% sw_include '@SwagPayPal/storefront/component/ecs-spb-checkout/ecs-button.html.twig' with {button_class: 'col-12 col-sm-6 col-xl-5'} %}
                    {% endif %}
                {% endblock %}

                {% block page_checkout_address_login_toggle_paypal_installment_banner %}
                    {% if installmentBannerEnabled %}
                        <div class="col-12 col-sm-6"
                             data-swag-paypal-installment-banner="true"
                             data-swag-pay-pal-installment-banner-options="{{ installmentBanner|json_encode }}">
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_checkout_address_login_toggle_paypal_fastlane %}
                    {% if fastlaneSettings is not null %}
                        <input type="email"
                             data-swag-paypal-fastlane="true"
                             data-swag-paypal-fastlane-options="{{ fastlaneSettings|json_encode }}" />

                    {% endif %}
                {% endblock %}
            </div>
        {% endif %}


    {% endblock %}
{% endblock %}
