{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    {{ parent() }}

    {% block page_checkout_address_login_toggle_paypal_container %}
        {# @var \Swag\PayPal\Checkout\ExpressCheckout\ExpressCheckoutButtonData expressSettings #}
        {% set expressSettings = page.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\ExpressCheckoutSubscriber::PAYPAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}
        {% set expressEnabled = expressSettings.loginEnabled %}

        {# @var \Swag\PayPal\Installment\Banner\BannerData installmentBanner #}
        {% set installmentBanner = page.extensions[constant('Swag\\PayPal\\Installment\\Banner\\InstallmentBannerSubscriber::PAYPAL_INSTALLMENT_BANNER_DATA_EXTENSION_ID')] %}
        {% set installmentBannerEnabled = installmentBanner.loginPageEnabled %}

        {% set isBootstrap5 = feature('v6.5.0.0') or getAllFeatures()['v6.6.0.0'] is defined %}

        {% if expressEnabled or installmentBannerEnabled %}
            <div class="row mb-2 {{ isBootstrap5 ? 'g-3' : '' }}">

                {% block page_checkout_address_login_toggle_paypal_express %}
                    {% if expressEnabled %}
                        {% sw_include '@SwagPayPal/storefront/component/ecs-spb-checkout/ecs-button.html.twig' with {button_class: 'col-12 col-sm-6 col-xl-5'} %}
                    {% endif %}
                {% endblock %}

                {% block page_checkout_address_login_toggle_paypal_installment_banner %}
                    {% if installmentBannerEnabled %}
                        <div class="col-12 col-sm-6 {{ isBootstrap5 ? '' : 'mt-2' }}"
                             data-swag-paypal-installment-banner="true"
                             data-swag-pay-pal-installment-banner-options="{{ installmentBanner|json_encode }}">
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
