@import "~scss/variables";

.swag-paypal-pos-status {

    .sw-card__content {
        text-align: center;
    }

    .swag-paypal-pos-status__icon-base {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: $color-gray-50;
    }

    .swag-paypal-pos-status__icon {
        margin-top: 24px;
        width: 36px;
        height: 36px;
    }

    .swag-paypal-pos-status__icon-animated {
        position: relative;
        animation: sync-rotate 2s infinite linear;
    }
    @keyframes sync-rotate {
        from {transform:rotate(360deg);}
        to {transform:rotate(0deg);}
    }

    .swag-paypal-pos-status__status {
        margin-top: $font-size-m;
        font-weight: bold;
    }

    .swag-paypal-pos-status__detail {
        margin-top: $font-size-s;
        padding-bottom: $font-size-s;
        font-size: $font-size-xs;
        border-bottom: $color-gray-200 solid 1px;
    }

    .swag-paypal-pos-status__substatus {
        margin-top: $font-size-s;
        font-size: $font-size-xs;
        padding-bottom: $font-size-s;
        border-bottom: $color-gray-200 solid 1px;

        span {
            vertical-align: middle;
        }
    }

    .swag-paypal-pos-status__disabled {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: $border-radius-default;
        padding-top: 9*$font-size-s;
    }

    .swag-paypal-pos-status__actions {
        margin-top: $font-size-s;
    }

    &.swag-paypal-pos-status--warning {
        .sw-card__content {
            border-color: $color-pumpkin-spice-200;
        }

        .swag-paypal-pos-status__icon {
            color: $color-pumpkin-spice-500;
        }
    }

    &.swag-paypal-pos-status--error {
        .sw-card__content {
            border-color: $color-crimson-200;
        }

        .swag-paypal-pos-status__icon {
            color: $color-crimson-500;
        }
    }

    &.swag-paypal-pos-status--success {
        .sw-card__content {
            border-color: $color-emerald-200;
        }

        .swag-paypal-pos-status__icon {
            color: $color-emerald-500;
        }
    }

    &.swag-paypal-pos-status--info {
        .sw-card__content {
            border-color: $color-shopware-brand-200;
        }

        .swag-paypal-pos-status__icon {
            color: $color-shopware-brand-500;
        }
    }

    .swag-paypal-pos-status__subicon {
        &.swag-paypal-pos-status--success {
            color: $color-emerald-500;
        }

        &.swag-paypal-pos-status--info {
            color: $color-shopware-brand-500;
        }

        &.swag-paypal-pos-status--warning {
            color: $color-pumpkin-spice-500;
        }

        &.swag-paypal-pos-status--error {
            color: $color-crimson-500;
        }
    }
}
