{% block swag_paypal_pos_status %}
    <sw-card :class="statusClasses"
             :isLoading="isLoading"
             :title="title">
        <div class="swag-paypal-pos-status__icon-base">
            <sw-icon :class="iconClasses"
                     :name="icon">
            </sw-icon>
        </div>

        <div class="swag-paypal-pos-status__status">
            <slot name="status">{{ status }}</slot>
        </div>

        <div class="swag-paypal-pos-status__detail">
            <slot name="detail"></slot>
        </div>

        <div v-if="showSubStatus" class="swag-paypal-pos-status__substatus">
            <sw-icon v-if="showSubIcon"
                     :class="subIconClasses"
                     :name="subIcon">
            </sw-icon>
            <span>
                <slot name="substatus"></slot>
            </span>
        </div>

        <div class="swag-paypal-pos-status__actions">
            <slot name="actions"></slot>
        </div>

        <div v-if="disabled" class="swag-paypal-pos-status__disabled">
            <slot name="disabledText">{{ disabledText }}</slot>
        </div>
    </sw-card>
{% endblock %}
