{% block swag_paypal_content_card_channel_config_credentials %}
    <sw-card class="sw-card--grid"
             :title="$tc('swag-paypal.settingForm.credentials.cardTitle')">

        {% block swag_paypal_content_card_channel_config_credentials_card_container %}
            <sw-container>

                {% block swag_paypal_content_card_channel_config_credentials_card_container_settings %}
                    <div v-if="actualConfigData" class="swag-paypal-settings-credentials-fields">

                        {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_client_id %}
                            <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.clientId']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.clientId']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="SwagPayPal.settings.clientId"
                                                   :mapInheritance="props"
                                                   :label="$tc('swag-paypal.settingForm.credentials.clientId.label')"
                                                   :helpText="$tc('swag-paypal.settingForm.credentials.clientId.tooltipText')"
                                                   :disabled="props.isInherited"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_client_secret %}
                            <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.clientSecret']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.clientSecret']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="SwagPayPal.settings.clientSecret"
                                                   :mapInheritance="props"
                                                   :label="$tc('swag-paypal.settingForm.credentials.clientSecret.label')"
                                                   :helpText="$tc('swag-paypal.settingForm.credentials.clientSecret.tooltipText')"
                                                   :disabled="props.isInherited"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block swag_paypal_content_card_channel_config_credentials_card_container_settings_sandbox %}
                            <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.sandbox']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.sandbox']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="SwagPayPal.settings.sandbox"
                                                     bordered
                                                     :mapInheritance="props"
                                                     :label="$tc('swag-paypal.settingForm.credentials.sandbox.label')"
                                                     :helpText="$tc('swag-paypal.settingForm.credentials.sandbox.tooltipText')"
                                                     :disabled="props.isInherited"
                                                     :value="props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}
                    </div>
                {% endblock %}
                {# TODO PT-10448 - Add API Credential Button here #}
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}
