@import "~scss/variables";

.swag-paypal-izettle-detail-settings {

    .swag-paypal-izettle-detail-settings__description-text {
        font-size: $font-size-small;
        margin: 20px 0;
    }

    .sw-sales-channel-detail-settings__delete-sales-channel {
        align-items: center;
    }

    .sw-sales-channel-detail-settings__description-text {
        font-size: $font-size-small;
        margin: 8px 0 0;
    }

    .swag-paypal-izettle-detail-settings__save-alert {
        max-width: 800px;

        @media screen and (max-width: 1360px) {
            max-width: 770px;
        }
    }
}

.sw-sales-channel-detail-settings__delete-modal {
    .sw-modal__body {
        font-size: $font-size-small;
    }

    p {
        margin-bottom: 15px;
    }
}
