{% block swag_paypal_izettle_detail_settings %}
    <div class="swag-paypal-izettle-detail-settings">

        {% block swag_paypal_izettle_detail_settings_basic %}
            <sw-card :isLoading="isLoading" :title="$tc('swag-paypal-izettle.detail.settings.titleGeneralSettings')">

                <sw-container columns="1fr 200px" gap="0px 30px">

                    {% block swag_paypal_izettle_detail_settings_input_name %}
                        <sw-text-field v-model="salesChannel.name"
                                       required
                                       type="text"
                                       validation="required"
                                       :error="salesChannelNameError"
                                       :label="$tc('sw-sales-channel.detail.labelInputName')"
                                       :placeholder="placeholder(salesChannel, 'name', $tc('sw-sales-channel.detail.placeholderName'))">
                        </sw-text-field>
                    {% endblock %}

                    {% block swag_paypal_izettle_detail_settings_input_active %}
                        <sw-switch-field v-model="salesChannel.active"
                                         bordered
                                         :label="$tc('sw-sales-channel.detail.labelInputActive')">
                        </sw-switch-field>
                    {% endblock %}
                </sw-container>

                {% block swag_paypal_izettle_detail_settings_input_media_domain %}
                    <sw-url-field v-model="salesChannel.extensions.paypalIZettleSalesChannel.mediaDomain"
                                  required
                                  :label="$tc('swag-paypal-izettle.detail.settings.domain')"
                                  @input="forceUpdate">
                    </sw-url-field>
                {% endblock %}

                {% block swag_paypal_izettle_detail_settings_input_product_stream %}
                    <sw-entity-single-select v-model="salesChannel.extensions.paypalIZettleSalesChannel.productStreamId"
                                             entity="product_stream"
                                             :label="$tc('swag-paypal-izettle.detail.settings.productStream')"
                                             @input="forceUpdate">
                    </sw-entity-single-select>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block swag_paypal_izettle_detail_settings_sync %}
            <div class="sw-sales-channel-detail-sync">
                <sw-card :isLoading="isLoading" :title="$tc('swag-paypal-izettle.detail.settings.titleSync')">

                    {% block swag_paypal_izettle_detail_settings_additional_syncprices %}
                        <sw-switch-field v-model="salesChannel.extensions.paypalIZettleSalesChannel.syncPrices"
                                         bordered
                                         :label="$tc('swag-paypal-izettle.detail.settings.syncPrices')"
                                         @input="forceUpdate">
                        </sw-switch-field>
                    {% endblock %}

                    {% block swag_paypal_izettle_detail_settings_additional_replace %}
                        <sw-switch-field v-model="salesChannel.extensions.paypalIZettleSalesChannel.replace"
                                         bordered
                                         :label="$tc('swag-paypal-izettle.detail.settings.replace')"
                                         @input="forceUpdate">
                        </sw-switch-field>
                    {% endblock %}
                </sw-card>
            </div>
        {% endblock %}

        {% block swag_paypal_izettle_detail_settings_credentials %}
            <div class="sw-sales-channel-detail-credentials">
                <sw-card :isLoading="isLoading" :title="$tc('swag-paypal-izettle.detail.settings.titleCredentials')">

                    {% block swag_paypal_izettle_detail_settings_credentials_apikey %}
                        <sw-text-field v-model="salesChannel.extensions.paypalIZettleSalesChannel.apiKey"
                                       required
                                       :label="$tc('swag-paypal-izettle.authentification.apiKey')"
                                       @input="forceUpdate">
                        </sw-text-field>
                    {% endblock %}

                    {% block swag_paypal_izettle_detail_settings_credentials_apikey_description %}
                        <div v-html="$tc('swag-paypal-izettle.authentification.apiKeyDescription')"
                             class="swag-paypal-izettle-detail-settings__description-text">
                        </div>
                    {% endblock %}

                    {% block swag_paypal_izettle_detail_settings_credentials_actions %}
                        <sw-button-group>

                            {% block swag_paypal_izettle_detail_settings_credentials_actions_generate_key %}
                                <sw-button :link="apiKeyUrl">
                                    {{ $tc('swag-paypal-izettle.authentification.buttonGenerateKey') }}
                                </sw-button>
                            {% endblock %}

                            {% block swag_paypal_izettle_detail_settings_credentials_actions_test %}
                                <sw-button-process v-model="isTestCredentialsSuccessful"
                                                   :isLoading="isTestingCredentials"
                                                   :disabled="!(this.salesChannel.extensions.paypalIZettleSalesChannel.apiKey)"
                                                   @click="onTestCredentials">
                                    {{ $tc('swag-paypal-izettle.authentification.buttonTest') }}
                                </sw-button-process>
                            {% endblock %}
                        </sw-button-group>
                    {% endblock %}
                </sw-card>
            </div>
        {% endblock %}
    </div>
{% endblock %}
