{% block swag_paypal_izettle_wizard_connection_success %}
    <div class="swag-paypal-izettle-wizard-connection-success">

        {% block swag_paypal_izettle_wizard_connection_success_headline_content %}
            <div class="swag-paypal-izettle-wizard-connection-success__content">

                {% block swag_paypal_izettle_wizard_connection_success_icon %}
                    <div class="swag-paypal-izettle-wizard-connection-success__icon-wrapper">
                        <sw-icon class="swag-paypal-izettle-wizard-connection-success__icon"
                                 name="default-action-thumb-up"
                                 size="80px"
                                 color="#37D046">
                        </sw-icon>
                    </div>
                {% endblock %}

                {% block swag_paypal_izettle_wizard_connection_success_headline %}
                    <div class="swag-paypal-izettle-wizard-connection-success__headline">
                        {{ $tc('swag-paypal-izettle.wizard.connectionSuccess.headline') }}
                    </div>
                {% endblock %}

                {% block swag_paypal_izettle_wizard_connection_success_info %}
                    <div class="swag-paypal-izettle-wizard-connection-success__info">
                        {{ $tc('swag-paypal-izettle.wizard.connectionSuccess.info') }}
                    </div>
                {% endblock %}

                {% block swag_paypal_izettle_wizard_connection_success_user %}
                    <sw-card class="swag-paypal-izettle-wizard-connection-success__user"
                             :isLoading="isFetchingInformation">
                        <sw-container class="swag-paypal-izettle-wizard-connection-success__user-container"
                                      columns="30px auto 150px"
                                      align="center"
                                      gap="30px">

                            {% block swag_paypal_izettle_wizard_connection_success_user_avatar %}
                                <sw-avatar
                                    class="swag-paypal-izettle-wizard-connection-success__user-avatar"
                                    size="40px"
                                    :firstName="iZettleUser.firstName"
                                    :lastName="iZettleUser.lastName">
                                </sw-avatar>
                            {% endblock %}

                            {% block swag_paypal_izettle_wizard_connection_success_user_information %}
                                <div class="swag-paypal-izettle-wizard-connection-success__user-info">

                                    {% block swag_paypal_izettle_wizard_connection_success_user_information_real %}
                                        <div class="swag-paypal-izettle-wizard-connection-success__user-info-name">
                                            {{ iZettleUser.fullName }}
                                        </div>
                                        <div class="swag-paypal-izettle-wizard-connection-success__user-info-mail">
                                            {{ iZettleUser.mail }}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block swag_paypal_izettle_wizard_connection_success_user_disconnect_button %}
                                <sw-button class="swag-paypal-izettle-wizard-connection-success__user-disconnect"
                                           variant="ghost"
                                           @click="onDisconnect">
                                    {{ $tc('swag-paypal-izettle.wizard.connectionSuccess.disconnectButton') }}
                                </sw-button>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_connection_success_disclaimer %}
            <div class="swag-paypal-izettle-wizard-connection-success__disclaimer">
                {{ $tc('swag-paypal-izettle.wizard.connectionSuccess.disclaimer') }}
            </div>
        {% endblock %}
    </div>
{% endblock %}
