{% block sw_first_run_wizard_modal %}
    <sw-modal class="swag-paypal-izettle-wizard-modal"
              :closable="true"
              :title="title"
              :variant="variant"
              @modal-close="cancelWizard">

        {% block swag_paypal_izettle_wizard_modal_content %}
            <div class="swag-paypal-izettle-wizard-modal-content">
                <sw-container class="swag-paypal-izettle-wizard-modal-content__columns"
                              :class="{'one': !showSteps, 'two': showSteps}">

                    {% block swag_paypal_izettle_wizard_modal_content_steps %}
                        <div v-if="showSteps"
                             class="swag-paypal-izettle-wizard-modal-content__steps">
                            <sw-step-display :initialItemVariants="stepInitialItemVariants"
                                             :itemIndex="stepIndex"
                                             :itemVariant="stepVariant">
                                <sw-step-item>
                                    {{ $tc('swag-paypal-izettle.wizard.stepItemTitle.connection') }}
                                </sw-step-item>
                                <sw-step-item>
                                    {{ $tc('swag-paypal-izettle.wizard.stepItemTitle.saleschannel') }}
                                </sw-step-item>
                                <sw-step-item>
                                    {{ $tc('swag-paypal-izettle.wizard.stepItemTitle.locale') }}
                                </sw-step-item>
                                <sw-step-item>
                                    {{ $tc('swag-paypal-izettle.wizard.stepItemTitle.productgroup') }}
                                </sw-step-item>
                                <sw-step-item>
                                    {{ $tc('swag-paypal-izettle.wizard.stepItemTitle.sync') }}
                                </sw-step-item>
                                <sw-step-item>
                                    {{ $tc('swag-paypal-izettle.wizard.stepItemTitle.finish') }}
                                </sw-step-item>
                            </sw-step-display>
                        </div>
                    {% endblock %}

                    {% block swag_paypal_izettle_wizard_modal_content_page %}
                        <div class="swag-paypal-izettle-wizard-modal-content__page">
                            <router-view :isTestCredentialsSuccessful="isTestCredentialsSuccessful"
                                         :isLoading="isLoading"
                                         :isTestingCredentials="isTestingCredentials"
                                         :salesChannel="salesChannel"
                                         :storefrontSalesChannelId="storefrontSalesChannelId"
                                         @buttons-update="updateButtons"
                                         @frw-redirect="redirect"
                                         @frw-set-title="setTitle"
                                         @frw-finish="finishWizard"
                                         @test-credentials="testCredentials"
                                         @update-storefront-sales-channel="updateStorefrontSalesChannel">
                            </router-view>
                        </div>
                    {% endblock %}
                </sw-container>
                </div>
        {% endblock %}

        {% block swag_paypal_izettle_wizard_modal_footer %}
            <template #modal-footer>
                <div class="swag-paypal-izettle-wizard-modal__footer">

                    {% block swag_paypal_izettle_wizard_modal_footer_left %}
                        <div class="footer-left">
                            <sw-button v-for="button in buttons.left"
                                       size="small"
                                       :disabled="button.disabled"
                                       :isLoading="isLoading"
                                       :key="button.key"
                                       :variant="button.variant"
                                       @click="onButtonClick(button.action)">
                                {{ button.label }}
                            </sw-button>
                        </div>
                    {% endblock %}

                    {% block swag_paypal_izettle_wizard_modal_footer_right %}
                        <div class="footer-right">
                            <sw-button v-for="button in buttons.right"
                                       size="small"
                                       :disabled="button.disabled"
                                       :isLoading="isLoading"
                                       :key="button.key"
                                       :variant="button.variant"
                                       @click="onButtonClick(button.action)">
                                {{ button.label }}
                            </sw-button>
                        </div>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}

