{% block swag_paypal_content_card_channel_config_behaviour %}
    <sw-card :title="$tc('swag-paypal.settingForm.behaviour.cardTitle')">
        {% block swag_paypal_content_card_channel_config_behaviour_settings %}
            <div class="swag-paypal-settings-behaviour-field" v-if="actualConfigData">
                {% block swag_paypal_content_card_channel_config_behaviour_settings_intent %}
                    <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.intent']"
                                        :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.intent']"
                                        :customInheritationCheckFunction="checkTextFieldInheritance"
                                        :label="$tc('swag-paypal.settingForm.behaviour.intent.label')">
                        <template #content="props">
                            <sw-single-select name="SwagPayPal.settings.intent"
                                              :options="intentOptions"
                                              labelProperty="name"
                                              valueProperty="id"
                                              @input="props.updateCurrentValue"
                                              :isInherited="props.isInherited"
                                              :disabled="props.isInherited"
                                              :value="props.currentValue">
                            </sw-single-select>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block swag_paypal_content_card_channel_config_behaviour_settings_submit_cart %}
                    <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.submitCart']"
                                        :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.submitCart']"
                                        :customInheritationCheckFunction="checkBoolFieldInheritance">
                        <template #content="props">
                            <sw-switch-field name="SwagPayPal.settings.submitCart"
                                             bordered
                                             :mapInheritance="props"
                                             :label="$tc('swag-paypal.settingForm.behaviour.submitCart.label')"
                                             :helpText="$tc('swag-paypal.settingForm.behaviour.submitCart.helpText')"
                                             :disabled="props.isInherited"
                                             :value="props.currentValue"
                                             @change="props.updateCurrentValue">
                            </sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block swag_paypal_content_card_channel_config_behaviour_settings_bran_name %}
                    <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.brandName']"
                                        :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.brandName']"
                                        :customInheritationCheckFunction="checkTextFieldInheritance">
                        <template #content="props">
                            <sw-text-field name="SwagPayPal.settings.brandName"
                                           :mapInheritance="props"
                                           :label="$tc('swag-paypal.settingForm.behaviour.brandName.label')"
                                           :helpText="$tc('swag-paypal.settingForm.behaviour.brandName.tooltipText')"
                                           :disabled="props.isInherited"
                                           :value="props.currentValue"
                                           @change="props.updateCurrentValue">
                            </sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block swag_paypal_content_card_channel_config_behaviour_settings_landing_page %}
                    <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.landingPage']"
                                        :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.landingPage']"
                                        :customInheritationCheckFunction="checkTextFieldInheritance"
                                        :label="$tc('swag-paypal.settingForm.behaviour.landingPage.label')">
                        <template #content="props">
                            <sw-single-select name="SwagPayPal.settings.landingPage"
                                              :options="landingPageOptions"
                                              labelProperty="name"
                                              valueProperty="id"
                                              @input="props.updateCurrentValue"
                                              :isInherited="props.isInherited"
                                              :disabled="props.isInherited"
                                              :value="props.currentValue">
                            </sw-single-select>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block swag_paypal_content_card_channel_config_behaviour_settings_send_order_number %}
                    <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.sendOrderNumber']"
                                        :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.sendOrderNumber']"
                                        :customInheritationCheckFunction="checkBoolFieldInheritance">
                        <template #content="props">
                            <sw-switch-field name="SwagPayPal.settings.sendOrderNumber"
                                             bordered
                                             :mapInheritance="props"
                                             :label="$tc('swag-paypal.settingForm.behaviour.sendOrderNumber.label')"
                                             :helpText="$tc('swag-paypal.settingForm.behaviour.sendOrderNumber.helpText')"
                                             :disabled="props.isInherited"
                                             :value="props.currentValue"
                                             @change="props.updateCurrentValue">
                            </sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
                {% block swag_paypal_content_card_channel_config_behaviour_settings_order_number_prefix %}
                    <sw-inherit-wrapper v-model="actualConfigData['SwagPayPal.settings.orderNumberPrefix']"
                                        :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['SwagPayPal.settings.orderNumberPrefix']"
                                        :customInheritationCheckFunction="checkTextFieldInheritance">
                        <template #content="props">
                            <sw-text-field name="SwagPayPal.settings.orderNumberPrefix"
                                           :mapInheritance="props"
                                           :label="$tc('swag-paypal.settingForm.behaviour.orderNumberPrefix.label')"
                                           :helpText="$tc('swag-paypal.settingForm.behaviour.orderNumberPrefix.tooltipText')"
                                           :disabled="props.isInherited"
                                           :value="props.currentValue"
                                           @change="props.updateCurrentValue">
                            </sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
