{% block swag_paypal_payment_detail %}
    <div class="swag-paypal-payment-detail">

        {% block swag_paypal_payment_detail_components %}
            <component v-if="!isLoading && showPayPalPayment"
                       :is="'swag-paypal-payment-details-v1'"
                       :paymentResource="paymentResource"
                       :orderId="order.id">
            </component>

            <component v-if="!isLoading && showPayPalOrder"
                       :is="'swag-paypal-payment-details-v2'"
                       :paypalOrder="paypalOrder"
                       :orderId="order.id">
            </component>
        {% endblock %}

        {% block swag_paypal_payment_detail_error_page %}
            {% block swag_paypal_payment_detail_error_page_canceled %}
                <div v-if="showCanceledPaymentError">
                    <sw-empty-state
                        :title="$tc('swag-paypal-payment.errorPage.title')"
                        :subline="$tc('swag-paypal-payment.errorPage.canceledPaymentContent')"
                        icon="default-shopping-paper-bag"
                        color="#A092F0">
                    </sw-empty-state>
                </div>
            {% endblock %}

            {% block swag_paypal_payment_detail_error_page_sandbox_live %}
                <div v-if="showSandboxLiveError">
                    <sw-empty-state
                        :title="$tc('swag-paypal-payment.errorPage.title')"
                        :subline="$tc('swag-paypal-payment.errorPage.sandboxLiveContent')"
                        icon="default-shopping-paper-bag"
                        color="#A092F0">
                    </sw-empty-state>
                </div>
            {% endblock %}

            {% block swag_paypal_payment_detail_error_page_other %}
                <div v-if="!isLoading && !showPayPalPayment && !showPayPalOrder">
                    <sw-empty-state
                        :title="$tc('swag-paypal-payment.errorPage.title')"
                        :subline="$tc('swag-paypal-payment.errorPage.other')"
                        icon="default-shopping-paper-bag"
                        color="#A092F0">
                    </sw-empty-state>
                </div>
            {% endblock %}
        {% endblock %}

        <sw-loader v-if="isLoading"></sw-loader>
    </div>
{% endblock %}
