// these are values for shopware 6.4 compatibility
@if not variable_exists('font-size-m') {
    $font-size-xxs: 12px;
    $font-size-xs: 14px;
    $font-size-s: 16px;
    $font-size-m: 18px;
    $font-size-l: 20px;
    $font-size-xl: 24px;
    $font-size-3xl: 28px;
}
