// these are values for shopware 6.4 compatibility
$font-size-xxs: 12px !default;
$font-size-xs: 14px !default;
$font-size-s: 16px !default;
$font-size-m: 18px !default;
$font-size-l: 20px !default;
$font-size-xl: 24px !default;
$font-size-3xl: 28px !default;
