@import "~scss/variables";

.swag-paypal-pos-getting-started {
    &__image {
        object-fit: contain;
        object-position: left;
    }

    &__description {
        &-headline {
            font-weight: $font-weight-bold;
            margin-bottom: 18px;
        }

        &-text {
            font-size: 14px;
        }

        &-link-icon {
            margin: 2px;
        }
    }
}